@{
    Layout = "~/Areas/BD/Views/Shared/_SetupLayout.cshtml";
}
@using JieNor.Megi.Common.Utility;
<!--以下放入一些常用的从后端传过来的js变量，供top以及子iframe使用 felson-->
<script type="text/javascript">
    //本用户的多语言信息
    window.OrgLang = (function (lang) {
        //转化为json
        return $.parseJSON(lang.replace(/&quot;/g, '"'));
    })('@HtmlLang.OrgLang()');
    //本用户的国际化信息，包括时区以及日期格式等等
    window.MegiGlobal = (function (global) {
        return $.parseJSON(global.replace(/&quot;/g, '"'));
    })('@HtmlLang.GlobalInfo()');
</script>
<div class="m-setup-content">   
     @Html.Partial("../BDAccountBalance/BDAccountPartial/AccountBalancesPartial")
    <input type="hidden" id="hideAutoHeight" value="330" />
</div>
<script type="text/javascript" src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.fw.js?@ServerHelper.JSVersion"></script>
<input type="hidden" id="hideGoServer" value="@JieNor.Megi.Common.Utility.ServerHelper.GoServer" />
<input type="hidden" id="hideIsSetup" value="true"/>
<script>
    $(document).ready(function () {
        window.MReady = mWindow.reload;
    })
</script>