@{
    Layout = "~/Areas/BD/Views/Shared/_SetupLayout.cshtml";
}
<!--以下放入一些常用的从后端传过来的js变量，供top以及子iframe使用 felson-->
<script type="text/javascript">
    //本用户的多语言信息
    window.OrgLang = (function (lang) {
        //转化为json
        return $.parseJSON(lang.replace(/&quot;/g, '"'));
    })('@HtmlLang.OrgLang()');
    //本用户的国际化信息，包括时区以及日期格式等等
    window.MegiGlobal = (function (global) {
        return $.parseJSON(global.replace(/&quot;/g, '"'));
    })('@HtmlLang.GlobalInfo()');
</script>
<div class="m-setup-content">   
     @Html.Partial("../TaxRate/UCTaxRateList", new ViewDataDictionary { { "IsSetup", true } })
</div>
<div class="m-help-bar">
    <span>
        <p>@HtmlLang.Write(LangModule.BD, "EveryTranLineItem", "Every transaction line item you enter into Hypercurrent needs a Tax Rate. The Tax Rates you use will depend on the location of your organization. Tax Rates can have multiple Tax Components. For instance, you can have an item that is charged a Tax Rate called \"Tax on Goods (8.75%)\" that has two components: a State tax of 7.75% and a Local tax of 1%.") </p>
        <div class="space"></div>
        <p>@HtmlLang.Write(LangModule.BD, "ReportOnIncomeSeparately", "If you need to report on income separately to expenses, or capital purchases separately to expenses, then you should create a separate Tax Rate for each.")</p>
        <div class="space"></div>
        <p>@HtmlLang.Write(LangModule.BD, "ReadOurHelpHref", "Read our help on <a href=\"\">Tax Rates</a> for more information.")</p>
    </span>
</div>
<div class="clear"></div>