
@{
    Layout = "~/Areas/FW/Views/Shared/_Layout.cshtml";
}
<p>@JieNor.Megi.Common.Encrypt.DESEncrypt.Encrypt("115.28.80.29")</p>
<p>@JieNor.Megi.Common.Encrypt.DESEncrypt.Encrypt("megi888888")</p>
<p>@JieNor.Megi.Common.Encrypt.DESEncrypt.Encrypt("yN8dtiQpJlGg")</p>
<p>@JieNor.Megi.Common.Encrypt.DESEncrypt.Encrypt("JieNorBas_AAAD")</p>
<p>@JieNor.Megi.Common.Encrypt.DESEncrypt.Encrypt("JieNorBas_AAAE")</p>
<p>@JieNor.Megi.Common.Encrypt.DESEncrypt.Encrypt("JieNorBas_AAAF")</p>
<p>@JieNor.Megi.Common.Encrypt.DESEncrypt.Encrypt("JieNorBas_AAAG")</p>
<p>@JieNor.Megi.Common.Encrypt.DESEncrypt.Encrypt("JieNorBas_AAAH")</p>
<p>@JieNor.Megi.Common.Encrypt.DESEncrypt.Encrypt("Z_JieNorSys")</p>
<p>@JieNor.Megi.Common.Encrypt.DESEncrypt.Encrypt("JieNorBas_Dev_Demo")</p>
<div class="m-form m-form-icon">
    <div class="column">
        <div class="cell2">
            <div class="">
                <span class="lbl m-icon-customer" title="aaaaa">&nbsp;</span>
                <input id="txtDate" type="text" class="easyui-datebox user-active" style="width:150px;" />
            </div>
            <div class="more-info">
                <p>Building De La Defence</p>
                <p>Building De La Defence</p>
            </div>
       </div>
    </div>
    <div class="column">

        <div class="cell">
            <span class="lbl m-icon-date" title="aaaaa">&nbsp;</span>
            <input id="txtDate" type="text" class="easyui-datebox user-active" style="width:150px;" />
        </div>
        <div class="cell">
            <span class="lbl m-icon-customer" title="aaaaa">&nbsp;</span>
            <input id="txtDate" type="text" class="easyui-datebox user-active" style="width:150px;" />
        </div>
        <div class="cell">
            <span class="lbl m-icon-time" title="aaaaa">&nbsp;</span>
            <input id="txtDate" type="text" class="easyui-datebox user-active" style="width:150px;" />
        </div>
    </div>

    <div class="column">

        <div class="cell">
            <span class="lbl m-icon-text" title="aaaaa">&nbsp;</span>
            <input id="txtDate" type="text" class="textbox user-active" style="width:150px;" />
        </div>
    </div>
</div>