@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    @using JieNor.Megi.Identity
    @using JieNor.Megi.Common.Utility
    @{
        var localCss = ServerHelper.StaticServer + "/fw/themes/" + LangIndentity.CurrentLangID + "/css.css?" + ServerHelper.JSVersion;
        var localJs = ServerHelper.StaticServer + "/Lang/JieNor.Megi.Common." + LangIndentity.CurrentLangID + ".js?" + ServerHelper.JSVersion;
    }
    <link type="text/css" rel="stylesheet" href="@ServerHelper.StaticServer/fw/min/jquery.megi.min.css?@ServerHelper.JSVersion" />
    <link type="text/css" rel="stylesheet" href="@ServerHelper.StaticServer/fw/min/jquery.megi.min.css?@ServerHelper.JSVersion" />
    <link type="text/css" rel="stylesheet" href="@localCss" />
    <script type="text/javascript">
        @Html.Raw(string.Format("document.domain ='{0}';", ServerHelper.Domain))
    </script>
    <script type="text/javascript" src="@localJs"></script>
    <script type="text/javascript" src="@ServerHelper.StaticServer/FW/min/jquery.megi.min.js?@ServerHelper.JSVersion"></script>
    <script type="text/javascript" src="@ServerHelper.ScriptServer/scripts/fw/error/error.js?@ServerHelper.JSVersion"></script>
</head>
<body class="">
    <div class="m-error" style="margin-left: auto; margin-right: auto; display: inline-block; width: 100%; height: 40%">&nbsp;</div>
    <div class="m-error-msg" style="text-align: center; margin: 0 auto; font-size: 24px;">
        @{
            var msg = Convert.ToString(ViewData["Message"]);
            if (!string.IsNullOrWhiteSpace(msg))
            {
                @Html.Raw(msg)
            }
            else
            {
                @HtmlLang.Write(LangModule.Common, "PageAccessFailed", "页面访问失败") @ViewData["StatusCode"]
            }
        }
    </div>
    <div class="m-error-action" style="text-align: center; margin: 0 auto; font-size: 20px;color: #309AF2;padding-top:20px">
        <a href="javascript:void(0)" id="btnFeedBack" style="margin:10px">@HtmlLang.Write(LangModule.My, "IWantToFeedback", "我要反馈")</a>
        <a href="javascript:void(0)" id="btnRefresh">@HtmlLang.Write(LangModule.Common, "RefreshThePage", "刷新页面")</a>
    </div>
    <input type="hidden" id="hideReferer" value="@ViewData["Referer"]">
    <input type="hidden" id="hideRefreshUrl" value="@ViewData["Url"]"/>
    <input type="hidden" id="hideFeedBackUrl" value="@ViewData["FeedBackUrl"]" />
</body>
</html>
