@using JieNor.Megi.Identity.Go.HtmlHelper;
@using JieNor.Megi.Core.Const;
@using JieNor.Megi.EntityModel.MultiLanguage;
@using JieNor.Megi.EntityModel.Enum
@using JieNor.Megi.Identity.HtmlHelper
@using JieNor.Megi.Common.Context
@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofllow" />
    <title>@HtmlLang.Write(LangKey.MegiManagerSystem)</title>
    @using JieNor.Megi.Common.Utility
    @using JieNor.Megi.Identity
    @{
        var ctx = ContextHelper.MContext;

        var localCss = ServerHelper.StaticServer + "/fw/themes/" + LangIndentity.CurrentLangID + "/css.css?" + ServerHelper.JSVersion;
        var localJs = ServerHelper.StaticServer + "/Lang/JieNor.Megi.Common." + LangIndentity.CurrentLangID + ".js?" + ServerHelper.JSVersion;
    }
    <link href="@ServerHelper.StaticServer/FW/include/pagewizard/css/jquery.pagewalkthrough.css?@ServerHelper.JSVersion" rel="stylesheet" />
    <script type="text/javascript" src="@localJs"></script>

    <script type="text/javascript" src="@ServerHelper.StaticServer/fw/min/jquery.megi.min.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.footprint.js?@ServerHelper.JSVersion"></script>
    @Html.Raw(HtmlUser.VersionScript())
    <link type="text/css" rel="stylesheet" href="@ServerHelper.StaticServer/fw/min/jquery.megi.min.css?@ServerHelper.JSVersion" />
    <link type="text/css" rel="stylesheet" href="@localCss" />

</head>
<body>
    <div class="my-org m-wrapper">
        <div class="m-header">
            <div class="m-top">
                <div class="m-logo"></div>
                <div id="divOrgCombox">
                    <div class='m-org'><a href='###' id='aOrgList'> @HtmlLang.Write(LangModule.My, "MyMegi", "My Megi")</a></div>
                </div>
                <div class="m-action">
                    <a class="m-help" href="https://help.hypercu.cn" id="megiFeedback" target="_blank" title="@HtmlLang.Write(LangModule.Common, "help", "帮助")">&nbsp;</a>
                    <a id="aUser" class="m-user" href="javascript:void(0)">&nbsp;</a>
                    <div id="divUserInfo" class="m-user-info">
                        <b class="popup-arrow popup-arrow-notch"></b>
                        <b class="popup-arrow"></b>
                        <div class="m-user-img">
                            @{
                                string headImageUrl = ServerHelper.StaticServer + "\\FW\\min\\images\\default-header.jpg";
                                <input type="hidden" id="hideImageUrl" value="@headImageUrl" />
                            }
                            <img id="imageHeaderImage" src='@ServerHelper.StaticServer/fw/themes/base/images/default-header.jpg' style="height: 80px;width: 80px;" />
                        </div>
                        <div class="m-user-content">
                            <p id="lblUserName" class="m-ellipsis" style="white-space:nowrap;" title="@HtmlUser.UserName()">@MText.Decode(HtmlUser.UserName())</p>
                            <ul>
                                <li><a href="javascript:void(0)" id="aProfilesettings" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.My, "profilesettings", "Profile Settings" )', '/Setting/Profile/ProfileEdit' ,true)">@HtmlLang.Write(LangModule.My, "profilesettings", "Profile Settings")</a></li>
                                <li><a href="javascript:void(0)" id="aAccountsettings" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.My, "Accountsettings", "Account Settings" )', '/Setting/Account/AccountEdit' ,true)">@HtmlLang.Write(LangModule.My, "Accountsettings", "Account Settings")</a></li>
                            </ul>
                        </div>
                        <div class="m-lang-top">
                            @HtmlLang.LangBar(ServerType.MyServer)
                        </div>
                        <div class="m-quit">
                            <a href="@ServerHelper.LoginServer/Account/Logout">@HtmlLang.Write(LangKey.Logout)</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="m-bottom">
                <div class="m-menu-show">
                </div>
                <div class="m-tab">
                    <ul class="m-tab-ul">
                        <li class="current stable">
                            <span class="m-tab-inner">
                                <a href="javascript:void(0)" onclick="$.mTab.showCurrent(0)" class="m-tab-item" data-index="0">
                                    @HtmlLang.Write(LangKey.Dashboard)
                                </a>
                            </span>
                        </li>
                        <li style="display:none;"></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="m-nav">
            <ul class="top">
                <li class="item">
                    <a href="###" class="item-link m-nav-dashboard" data-index="0">&nbsp;</a>
                    <div class="m-sub-nav-container" id="navDashboard">
                        <div class="m-sub-nav">
                            <span class="arrow-left-border">&nbsp;</span>
                            <span class="arrow-left">&nbsp;</span>
                            <p><a href="###" data-index="0" onclick="$.mTab.showCurrent(0)">@HtmlLang.Write(LangKey.Dashboard)</a></p>
                            <p><a href="###" data-index="0">&nbsp;</a></p>
                        </div>
                    </div>
                </li>
                <li class="item">
                    <a href="javascript:void(0)" class="item-link m-nav-account">&nbsp;</a>
                    <div class="m-sub-nav-container" style="height: 192px; left: 62px; top: 130px; display: none;">
                        <div class="m-sub-nav">
                            <span class="arrow-left-border">&nbsp;</span>
                            <span class="arrow-left">&nbsp;</span>
                            <p><a class="" href="javascript:void(0)" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.My, "profilesettings", "Profile Settings" )', '/Setting/Profile/ProfileEdit' ,true)">@HtmlLang.Write(LangModule.My, "profilesettings", "Profile Settings")</a></p>
                            <p><a href="javascript:void(0)" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.My, "accountsettings", "Account Settings" )', '/Setting/Account/AccountEdit' ,true)">@HtmlLang.Write(LangModule.My, "accountsettings", "Account Settings")</a></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="m-main">
            <div data-index="0" class="m-tab-content" style="display:block">
                <div class="m-ititle" style="height:60px;">
                    <div class="content" style="padding-left:20px">
                        <div class="title" style="width:500px;">
                            <span class="title-text" style="font-size: 30px;"> @HtmlLang.Write(LangModule.My, "MyMegi", "My Megi")</span>

                            <!--帐户管理-->
                            <a href="javascript:void(0)" style="width:150px;" id="aAddOrganisationTop" class="easyui-splitbutton easyui-linkbutton-gray easyui-splitbutton-base m-btn-m"
                               data-options="menu:'#divAddOrganisation'" onclick="$('.m-btn-line:visible').trigger('mouseenter.menubutton');">@HtmlLang.Write(LangModule.My, "AddAnOrganisation", "Add an Organisation")</a>
                            <!--银行/现金/信用卡帐户-->
                            <div id="divAddOrganisation" style="width:150px; display:none;">
                                <div><a href="javascript:void(0)" id="aAddBasicOrganisation" onclick="MyIndex.addOrganisation(0)">@HtmlLang.Write(LangModule.My, "StardardVersion", "标准版")</a></div>
                                <div><a href="javascript:void(0)" id="aAddSmartOrganisation" onclick="MyIndex.addOrganisation(1)">@HtmlLang.Write(LangModule.My, "SmartVersion", "总账版")</a></div>
                            </div>



                        </div>
                        <div class="clear"></div>
                        <div class="info" style="padding:1px 3px;margin-top:10px" lastorgid="@ViewData["lastLoginOrgId"]">
                            @*@HtmlLang.WriteFormat(LangModule.My, "MyLoginInfo", "<span class='mg-bold'>Hi, {0},</span> you last logged into Megi at {1}.", HtmlUser.UserName(), DateTime.Now.ToLangDate())*@
                            @if (ViewData["lastLoginOrgName"] == null || ViewData["lastLoginOrgName"] == "")
                            {
                                @HtmlLang.WriteFormat(LangModule.My, "MyLoginInfoWithNoOrg", "<span class='mg-bold'>您好，{0}</span>", MText.Encode(JieNor.Megi.Identity.HtmlHelper.HtmlUser.UserName()))
                            }
                            else
                            {
                                @HtmlLang.WriteFormat(LangModule.My, "MyLoginInfo", "MyLoginInfo", MText.Encode(JieNor.Megi.Identity.HtmlHelper.HtmlUser.UserName()), MText.Encode(Convert.ToString(ViewData["lastLoginOrgName"])))
                            }

                        </div>
                    </div>
                    <div class="action" style="margin-right:20px;">
                        <a href="javascript:void(0)" id="aDataGrid" class="m-data-grid-current" style="padding-right: 15px;">&nbsp;</a>
                        <a href="javascript:void(0)" id="aDataList" class="m-data-list">&nbsp;</a>
                    </div>
                </div>
                <div class="m-imain">
                    <!--内容-->
                    <div class="m-imain-content m-imain-dashboard" style="padding:20px 20px 0 20px;">
                        <!--大视图-->
                        <div id="divDataGridContainer" style="border-bottom: 1px solid #ccc;">
                            <div class="m-bank-list1" id="divDataGrid">
                            </div>
                            <div id="pagination" class="datagrid-pager pagination"></div>
                        </div>
                        <!--小视图-->
                        <div id="divDataListContainer" class="m-imain-content" style="padding:0px!important;">
                            <div id="divDataList" fitcolumns="false">
                            </div>
                        </div>
                        <div style="padding:5px 0px;" class="try-demo-div">
                            <a href="javascript:void(0);" id="aCreateDemoCompany" orgid="@ViewData["demoorgid"]">@HtmlLang.Write(LangModule.My, "TryTheDemoCompany", "Try the Demo Company (US)")</a> @HtmlLang.Write(LangModule.My, "HaveAPlay", "Have a play, try out new features and get familiar with Megi.")
                        </div>
                    </div>
                </div>
            </div>
            <div data-index="1" class="m-tab-content" style="display:none;overflow:hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="2" class="m-tab-content" style="display:none;overflow:hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="3" class="m-tab-content" style="display:none;overflow:hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="4" class="m-tab-content" style="display:none;overflow:hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="5" class="m-tab-content" style="display:none;overflow:hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="6" class="m-tab-content" style="display:none;overflow:hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="7" class="m-tab-content" style="display:none;overflow:hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="8" class="m-tab-content" style="display:none;overflow:hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="9" class="m-tab-content" style="display:none;overflow:hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="10" class="m-tab-content" style="display:none;overflow:hidden;">
                <iframe src=""></iframe>
            </div>
        </div>
    </div>
    <!--这是一个tab页右键刷新/删除等操作的功能-->
    <div class="home-context-menu m-pop-menu">
        <p style="width:110px;"><a href="javascript:void(0);" class="home-refresh">@HtmlLang.Write(LangModule.Common, "refresh", "Refresh")</a></p>
        <p style="width:110px;"><a href="javascript:void(0);" class="home-close">@HtmlLang.Write(LangModule.Common, "close", "Close")</a></p>
        <p style="width:110px;"><a href="javascript:void(0);" class="home-close-all">@HtmlLang.Write(LangModule.Common, "closeall", "Close All")</a></p>
        <p style="width:110px;"><a href="javascript:void(0);" class="home-close-right">@HtmlLang.Write(LangModule.Common, "closeright", "Close Right")</a></p>
        <p style="width:110px;"><a href="javascript:void(0);" class="home-close-others">@HtmlLang.Write(LangModule.Common, "closerothers", "Close Others")</a></p>
    </div>
    <!--顶层的遮盖，透明-->
    <div class="home-top-bg">
    </div>
    <!--顶层的遮盖，透明-->
    <div class="iframe-top-bg">
    </div>


    <!--登陆的box-->
    <div class="m-login-box-home" style="display:none;">
        @Html.Partial("LoginBoxPartial")
    </div>


    <input type="hidden" id="aGoServer" value="@ServerHelper.GoServer" />
    <input type="hidden" id="aMySite" value="@ServerHelper.MyServer" />
    <input type="hidden" id="redirectOnLoad" value="@ViewData["redirectonload"]" />
    <input type="hidden" id="redirectUrl" value="@ViewData["redirecturl"]" />
    <input type="hidden" id="iframeUrl" value="@ViewData["iframeurl"]" />
    <input type="hidden" id="hidCurrentLangID" value="@LangIndentity.CurrentLangID" />
    <input type="hidden" id="hideBetaGoServer" value="@ServerHelper.BetaGoServer" />

    <!--组织信息-->
    <input type="hidden" id="hideUserName" value="@ctx.MUserName" />
    <input type="hidden" id="hideUserEamil" value="@ctx.MEmail" />

    <!--配置联系我们的链接-->
    <input type="hidden" id="PayNow" value="@ServerHelper.ServiceEmail">
    <script type="text/javascript">
        @Html.Raw(string.Format("document.domain ='{0}';", ServerHelper.Domain))
    </script>
    <script type="text/javascript">
        //各个站点的地址
        window.LoginServer = '@ServerHelper.LoginServer';
        window.MyServer = '@ServerHelper.MyServer';
    </script>
    @JieNor.Megi.Identity.HtmlHelper.HtmlLang.WriteScript(LangModule.My)
    @JieNor.Megi.Identity.HtmlHelper.HtmlLang.WriteScript(LangModule.IV)
    @JieNor.Megi.Identity.HtmlHelper.HtmlLang.WriteScript(LangModule.BD)
    @JieNor.Megi.Identity.HtmlHelper.HtmlLang.WriteScript(LangModule.Org)

    <script src="@ServerHelper.StaticServer/FW/include/pagewizard/jquery.pagewalkthrough.min.js?@ServerHelper.JSVersion"></script>


    <input type="hidden" id="hidLoginServer" value="@ServerHelper.LoginServer" />
    <input type="hidden" id="hideOrgListShowType" value="@ViewData["OrgListShowType"]" />
    <input type="hidden" id="hideUserCreateDate" value="@ViewData["UserCreateDate"]" />
    <input type="hidden" id="hideLocaleId" value="@ViewData["MLocaleID"]" />
    <input type="hidden" id="hideUserEamil" value="@HtmlUser.UserEmail" />
    <input type="hidden" id="hidDomain" value="@ServerHelper.Domain" />
    @JieNor.Megi.Identity.HtmlHelper.HtmlLang.WriteEasyuiLocalJs(LangIndentity.CurrentLangID)



    <script src="@ServerHelper.StaticServer/FW/scripts/signalr/SignalR/jquery.signalR-2.2.0.min.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.MyServer/signalr/hubs"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/signalr/SignalR/jquery.megi.pushmessage.js?@ServerHelper.JSVersion"></script>
    <input type="hidden" id="hidHubServer" value="@ServerHelper.MyServer/signalr/hubs" />

    <script src="@ServerHelper.StaticServer/FW/scripts/systemupdate/jquery.megi.systemupdate.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.pagewizard.js?@ServerHelper.JSVersion"></script>
    <script type="text/javascript" src="@ServerHelper.ScriptServer/scripts/fw/fwhome/index.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.browser.tabswitch.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.access.js"></script>
</body>

</html>