@{
    Layout = "~/Areas/FW/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ItemList";
    int importedNum = ViewBag.ImportedNum == null ? -1 : Convert.ToInt32(ViewBag.ImportedNum);
}
@using JieNor.Megi.Common.Utility;
<div class="m-toolbar">
    <div class="btn">
        @if (HtmlSECMenu.HavePermission(BizObject.Setting, PermissionItem.Change))
        {
            <a href="#" class="easyui-linkbutton  easyui-linkbutton-yellow" id="NewItem">@HtmlLang.Write(LangModule.BD, "NewItem", "New Item")</a>
            
            <a href="#" class="easyui-linkbutton" id="aImport">@HtmlLang.Write(LangKey.Import)</a>
        }
        <!--是否有导出权限-->
        @if (HtmlSECMenu.HavePermission(BizObject.Setting, PermissionItem.Export))
        {
            <a href="javascript:void(0)" id="aExport" class="easyui-splitbutton"
                data-options="menu:'#divExportTypes'">@HtmlLang.Write(LangKey.Export)</a>
            <div id="divExportTypes" style="width: 143px;">
                <div><a href="javascript:void(0)">Pdf</a></div>
                <div><a href="javascript:void(0)">Xls</a></div>
            </div>
        }
    </div>
    <div class="search">
        <input type="text" class="textbox" id="itemKeyword" hint="@HtmlLang.Write(LangModule.BD, "Describe", "项目代码/描述")" />
        <a href="#" class="easyui-linkbutton" id="itemSearch">@HtmlLang.Write(LangKey.Search)</a>
        @*<label style="float:right;flex-align:center;font-size:14px;color:#00F">Item Code</label> *@
    </div>
    <div class="clear"></div>
</div>
@*标识是否有权限修改或者删除*@
@if (HtmlSECMenu.HavePermission(BizObject.Setting, PermissionItem.Change))
{
    <input type="hidden" id="hidChangeAuth" value="1" />
}
else
{
    <input type="hidden" id="hidChangeAuth" value="0" />
}

<div class="m-imain">
    <div class="m-imain-content">
        <div id="tt" class="easyui-tabs">
            <div title="@HtmlLang.Write(LangModule.BD, "ALL", "ALL")" fitcolumns="true">
                <div class="m-tab-toolbar">
                    @if (HtmlSECMenu.HavePermission(BizObject.Setting, PermissionItem.Change))
                    {
                        <a href="#" class="m-btn-s easyui-linkbutton " id="btnArchive">@HtmlLang.Write(LangModule.BD, "Archive", "Archive")</a>
                        <a href="#" class="m-btn-s easyui-linkbutton" id="DeleteItems">@HtmlLang.Write(LangKey.Delete)</a>
                    }
                </div>
                <div id="tbItem">
                </div>
            </div>
            <div title="@HtmlLang.Write(LangKey.Archive)">
                <div class="m-tab-toolbar">
                    @if (HtmlSECMenu.HavePermission(BizObject.Setting, PermissionItem.Change))
                    {

                        <a href="#" class="easyui-linkbutton" id="btnRestore">@HtmlLang.Write(LangModule.Acct, "Restore", "恢复")</a>
                    }
                </div>
                <div id="tbArchiveItem"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<input type="hidden" id="aGoServer" value="@ServerHelper.GoServer" />
<input type="hidden" id="hidImportedNum" value="@importedNum" />


@HtmlLang.WriteScript(LangModule.BD)

<script src="@ServerHelper.ScriptServer/scripts/BD/BDQuote.js?@ServerHelper.JSVersion"></script>
<script src="@ServerHelper.ScriptServer/scripts/BD/Import/ImportBase.js?@ServerHelper.JSVersion"></script>
<script src="@ServerHelper.ScriptServer/scripts/BD/Item/ItemList.js?@ServerHelper.JSVersion"></script>
