<div class="mg-opt-options" id="divManageAccount1">
    <div class="item">
        <p>Find</p>
        <ul>
            <li><a href="">@HtmlLang.Write(LangModule.Bank, "AccountTransactions", "Account Transactions")</a></li>
            <li><a href="">@HtmlLang.Write(LangModule.Bank, "BankStatements", "Bank Statements")</a></li>
        </ul>
    </div>

    <div class="item">
        <p>New</p>
        <ul>
            <li><a href="">@HtmlLang.Write(LangModule.Bank,"SpendMoney","Spend Money")</a></li>
            <li><a href="">@HtmlLang.Write(LangModule.Bank,"ReceiveMoney","Receive Money")</a></li>
            <li><a href="">@HtmlLang.Write(LangModule.Bank,"TransferMoney","Transfer Money")</a></li>
        </ul>
    </div>

    <div class="item">
        <p>Reconcile</p>
        <ul>
            <li><a href="">@HtmlLang.Write(LangModule.Bank,"ReconcileAccount","Reconcile Account")</a></li>
            <li><a href="">@HtmlLang.Write(LangModule.Bank,"BankRules","Bank Rules")</a></li>
            <li><a href="">@HtmlLang.Write(LangModule.Bank,"BankRules","Bank Rules")</a></li>
            <li><a href="">@HtmlLang.Write(LangModule.Bank,"ReconciliationReport","Reconciliation Report")</a></li>
            <li><a href="">@HtmlLang.Write(LangModule.Bank,"ImportAStatement","Import a statement")</a></li>
        </ul>
    </div>

    <div class="item">
        <p>@HtmlLang.Write(LangModule.Bank,"BankFeeds","Bank Feeds")</p>
        <ul>
            <li><a href="">@HtmlLang.Write(LangModule.Bank,"ViewStatusUpdates","View Status Updates")</a></li>
        </ul>
    </div>
    <br class="clear" />
    <div class="edit">@HtmlLang.Write(LangModule.Bank,"EditAccountDetails","Edit Account Details")</div>
</div>
@HtmlLang.WriteScript(LangModule.Bank)