<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="/login/scripts/Browser/browser.js?@ServerHelper.JSVersion"></script>
    <script src="/login/scripts/Browser/browserVerify.js?@ServerHelper.JSVersion"></script>

    @using JieNor.Megi.Common.Utility
    @using JieNor.Megi.Identity
    @using JieNor.Megi.EntityModel.Enum
    @using JieNor.Megi.Identity.HtmlHelper
    @using System.Configuration
    @{
        var localCss = ServerHelper.StaticServer + "/fw/themes/" + LangIndentity.CurrentLangID + "/css.css?" + ServerHelper.JSVersion;
        var localJs = ServerHelper.StaticServer + "/Lang/JieNor.Megi.Common." + LangIndentity.CurrentLangID + ".js?" + ServerHelper.JSVersion;
    }
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="@ServerHelper.StaticServer/fw/min/jquery.megi.min.css?@ServerHelper.JSVersion" />
    <link type="text/css" rel="stylesheet" href="@localCss" />
    <link href="~/Content/login.css?@ServerHelper.JSVersion" rel="stylesheet" type="text/css">
    <script type="text/javascript">
        @Html.Raw(string.Format("document.domain ='{0}';", ServerHelper.Domain))
    </script>
    @Html.Raw(HtmlUser.VersionScript())
    <script type="text/javascript" src="@localJs"></script>
    <script type="text/javascript" src="@ServerHelper.StaticServer/FW/min/jquery.megi.js?@ServerHelper.JSVersion"></script>
</head>
<body class="m-reg-bg">
    @RenderBody()
    <div class="m-reg-footer">
        <div class="copy">
            <a id="megiFeedback" href="javascript:void(0);" class="line">@HtmlLang.Write(LangModule.Login, "contactus", "Contact US")</a>
            <a href="javascript:void(0);" class="line">@HtmlLang.Write(LangModule.Login, "termsofuse", "Terms of use")</a>
            <a href="javascript:void(0);" class="line">@HtmlLang.Write(LangModule.Login, "privacy", "Privacy")</a>
            <a href="javascript:void(0);">@HtmlLang.Write(LangModule.Login, "copyright", "Copyright © 2016")</a>
        </div>

    </div>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.window.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.ajax.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.fw.reg.js?@ServerHelper.JSVersion"></script>
</body>
</html>