<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofllow" />
    <title>@HtmlLang.Write(LangKey.MegiManagerSystem)</title>
    @using JieNor.Megi.Core.Const
    @using JieNor.Megi.Identity.Go.HtmlHelper
    @using JieNor.Megi.EntityModel.MultiLanguage
    @using JieNor.Megi.Identity.HtmlHelper
    @using JieNor.Megi.Common.Utility
    @using JieNor.Megi.Identity
    @using JieNor.Megi.DataModel.BAS
    @using JieNor.Megi.EntityModel.Enum
    @using JieNor.Megi.Tools
    @using JieNor.Megi.Common.Context
    @using System.Text
    @{
        var localCss = ServerHelper.StaticServer + "/fw/themes/" + LangIndentity.CurrentLangID + "/css.css?" + ServerHelper.JSVersion;
        var localJs = ServerHelper.StaticServer + "/Lang/JieNor.Megi.Common." + LangIndentity.CurrentLangID + ".js?" + ServerHelper.JSVersion;

    }
    @{
        var accessResponse = AccessHelper.Access();

        var arr_plancode = AccessHelper.GetPlan().Select(x => x.Code);
        //标准版
        bool flag_normal = arr_plancode.Contains("NORMAL");
        //销售
        bool flag_sales = arr_plancode.Contains("SALES");
        //发票
        bool flag_invoice = arr_plancode.Contains("INVOICE");

        var accessList = accessResponse.Access;

        ViewData["normal"] = accessList;
        ViewData["other"] = new bool[]{ flag_sales, flag_invoice };

        var ctx = ContextHelper.MContext;

        bool isSmartVersion = ctx.MOrgVersionID == OrgVersionEnum.Smart;

        var dashboardTitle = JavaScriptDES.EncryptDES(!isSmartVersion ? HtmlLang.Write(LangKey.Dashboard).ToString() : HtmlLang.Write(LangModule.GL, "GeneralLedger", "General Ledger").ToString());
        var dashboardUrl = (!isSmartVersion ? "/FW/FWHome/FWDashboard?type=0&_tabTitle_=" : "/GL/GLVoucher/GLVoucherHome?type=0&_tabTitle_=") + dashboardTitle;


        bool isAttachmentView = accessList[BizObject.Attachment + PermissionItem.View];

        bool isBankReconcileViewPermission = accessList[BizObject.Bank_Reconciliation + PermissionItem.View];
        //是否有 销售发票（编辑）权限
        bool isCanInvoiceSalesChangePermission = accessList[BizObject.Invoice_Sales + PermissionItem.Change];
        //是否有 费用报销单（编辑）权限
        bool isCanExpenseChangePermission = accessList[BizObject.Expense + PermissionItem.Change];
        //是否有 联系人（编辑）权限
        bool isCanContactChangePermission = accessList[BizObject.Contact + PermissionItem.Change];
        //是否有 基础资料（编辑）权限
        bool isCanSettingChangePermission = accessList[BizObject.Setting + PermissionItem.Change];
        //是否有新建凭证的权限
        bool isCanGeneralLedgerChangePermission = accessList[BizObject.General_Ledger + PermissionItem.Change];
        //是否有 采购发票（编辑）权限
        bool isCanInvoicePurchasesChangePermission = accessList[BizObject.Invoice_Purchases + PermissionItem.Change];
        //是否有 银行(编辑)权限
        bool isCanBankAccountChangePermission = accessList[BizObject.BankAccount + PermissionItem.Change];

        bool isPaymentView = accessList[BizObject.Payment];
        bool isReceiveView = accessList[BizObject.Receive];

        Func<string, string> sha256 = (string message) =>
        {
            var secretKey = "rL3qdqkukmX9n5WN0PcOR_ibD6xiw-pkrccS99Q5";
            var encoding = new System.Text.UTF8Encoding();
            byte[] keyByte = encoding.GetBytes(secretKey);
            byte[] messageBytes = encoding.GetBytes(message);
            using (var hmacsha256 = new System.Security.Cryptography.HMACSHA256(keyByte))
            {
                byte[] hashmessage = hmacsha256.ComputeHash(messageBytes);
                StringBuilder rst = new StringBuilder();
                for (int i = 0; i < hashmessage.Length; i++)
                {
                    rst.Append(hashmessage[i].ToString("x2"));
                }

                return rst.ToString();
            }
        };
    }

    <link type="text/css" rel="stylesheet" href="@ServerHelper.StaticServer/fw/min/jquery.megi.min.css?@ServerHelper.JSVersion" />
    <link type="text/css" rel="stylesheet" href="@localCss" />
    <!--FONT AWESOME-->
    <script src="https://kit.fontawesome.com/6e32edc336.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
        @Html.Raw(string.Format("document.domain ='{0}';", ServerHelper.Domain))
    </script>
    <script type="text/javascript" src="@localJs"></script>
    @HtmlLang.WriteScript(LangModule.Common)
    @HtmlLang.WriteScript(LangModule.BD)
    @HtmlLang.WriteScript(LangModule.Contact)
    @HtmlLang.WriteScript(LangModule.IV)
    @HtmlLang.WriteScript(LangModule.Bank)
    @HtmlLang.WriteScript(LangModule.My)
    @HtmlLang.WriteScript(LangModule.PA)
    @HtmlLang.WriteScript(LangModule.FA)
    @HtmlLang.WriteScript(LangModule.GL)
    @HtmlLang.WriteScript(LangModule.FP)
    <!--日志记录的js，必须拿出来，不可放在min.js里面-->
    <script src="@ServerHelper.ScriptServer/Scripts/FW/jquery.megi.exception.js?@ServerHelper.JSVersion"></script>
    <script type="text/javascript" src="@ServerHelper.StaticServer/fw/min/jquery.megi.js?@ServerHelper.JSVersion"></script>
    <script type="text/javascript" src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.footprint.js?@ServerHelper.JSVersion"></script>
    <!--个人需要调试的样式，请放在此处,下例-->
    <!--以下放入一些常用的从后端传过来的js变量，供top以及子iframe使用 felson-->
    <script type="text/javascript">
        //本用户的多语言信息
        window.OrgLang = (function (lang) {
            //转化为json
            return $.parseJSON(lang.replace(/&quot;/g, '"'));
        })('@HtmlLang.OrgLang()');
        //本用户的国际化信息，包括时区以及日期格式等等
        window.MegiGlobal = (function (global) {
            return $.parseJSON(global.replace(/&quot;/g, '"'));
        })('@HtmlLang.GlobalInfo()');
        //浏览器关闭，或者退出/刷新的时候，提醒用户确认
        window.onbeforeunload = function () {
            return '@HtmlLang.Write(LangModule.Common, "checkalldatasaved", "Megi : Are you sure to Exit or Reload? Confirm that all data saved.")';
        }
        //各个站点的地址
        window.LoginServer = '@ServerHelper.FinalLoginServer';
        //各个站点的地址
        window.MyServer = '@ServerHelper.FinalMyServer';


        //点击刷新
    </script>
    <style>
        .m-header {
            background: #672D82;
        }

        .m-tab li {
            background: #29106B !important;
            border-radius: 8px 22px 0px 0px;
        }

            .m-tab li.current {
                background: #F2F2F2 !important;
                color: #4F4F4F;
            }

                .m-tab li .m-tab-inner, .m-tab li.current .m-tab-inner {
                    background: none !important;
                }

                    .m-tab li .m-tab-inner:hover {
                        background: none !important;
                    }

        .m-tab .close, .m-tab .m-refresh {
            right: -6px;
        }

        .m-tab-add-ico {
            display: inline-block;
            width: 10px;
            height: 10px;
            text-align: center;
            line-height: 10px;
            font-size: 10px;
            font-weight: normal;
            color: #FFF;
            border: 1px solid #FFF;
            border-radius: 5px;
        }

        /*Left Toolbar*/
        .m-nav {
            background: #1D0C5C;
        }

            .m-nav .item-link {
                background: none;
                text-align: center;
            }

            .m-nav .fa, .m-nav .fas, .m-nav .far {
                font-size: 22px;
                color: #FFF;
                margin-top: 15px;
            }
    </style>
    @Html.Raw(HtmlUser.VersionScript())
</head>
<body>
    <div class="m-wrapper">
        <div class="m-header">
            <div class="m-top">
                <div class="m-logo"></div>
                <!--组织下拉框-->
                <div id="divOrgCombox"></div>
                @*@Html.Raw(@HtmlOrg.GoOrgSelectList())*@
                <div class="m-action">
                    <a class="m-global" href="###" style="display: none;">&nbsp;</a>
                    @if (!isSmartVersion)
                    {
                        <a class="m-search" href="###" title="@HtmlLang.Write(LangModule.Common, "Search", "搜索")">&nbsp;</a>
                    }
                    <a class="m-help" href="###" onclick="if(Intercom) Intercom('show');" id="megiFeedback" title="@HtmlLang.Write(LangModule.Common, "help", "帮助")">&nbsp;</a>
                    @if (isAttachmentView)
                    {//附件（查看）权限校验
                        <a class="m-attachment" id="aAttachment" href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Docs, "Attachment", "Attachment")', '/BD/Docs/Folders', true);" title=@HtmlLang.Write(LangModule.Docs, "Attachment", "附件")>&nbsp;</a>
                    }
                    <a id="aUser" class="m-user" href="###" title="@HtmlLang.Write(LangModule.Docs, "Users", "用户")">&nbsp;</a>
                    <div id="divUserInfo" class="m-user-info">
                        <b class="popup-arrow popup-arrow-notch"></b>
                        <b class="popup-arrow"></b>
                        <div class="m-user-img">
                            @*@{
                                    string headImageUrl = ServerHelper.MyServer + "/Profile/ShowHeaderIamge";
                                }*@
                            @*<input type="hidden" id="hideImageUrl" value="@headImageUrl" />*@
                            <img id="imageHeaderImage" src='@ServerHelper.StaticServer/fw/themes/base/images/default-header.jpg' style="height: 80px;width: 80px;" />
                        </div>
                        <div class="m-user-content">
                            <p id="lblUserName" class="m-ellipsis" style="white-space:nowrap;" title="@HtmlUser.UserName()">@MText.Decode(HtmlUser.UserName())</p>
                            <ul>
                                <li><a href="###" id="aProfilesettings" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.My, "profilesettings", "Profile Settings")', '@ServerHelper.FinalMyServer/Setting/Profile/ProfileEdit',true)">@HtmlLang.Write(LangModule.My, "profilesettings", "Profile Settings")</a></li>
                                <li><a href="###" id="aAccountSettings" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.My, "AccountSettings", "Account Settings")', '@ServerHelper.FinalMyServer/Setting/Account/AccountEdit',true)">@HtmlLang.Write(LangModule.My, "AccountSettings", "Account Settings")</a></li>
                            </ul>
                        </div>
                        <div class="m-lang-top">
                            @HtmlLang.LangBar(ServerType.GoServer)
                        </div>
                        <div class="m-quit">
                            <a id="aLogout" href="@ServerHelper.FinalLoginServer/Account/Logout">@HtmlLang.Write(LangKey.Logout)</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="m-bottom">
                <div class="m-menu-show">
                </div>
                <div class="m-tab">
                    <ul class="m-tab-ul">
                        <li class="current stable">
                            <span class="m-tab-inner">
                                <a href="###" onclick="$.mTab.showCurrent(0)" class="m-tab-item" data-index="0">
                                    @if (!isSmartVersion)
                                    {
                                        @Html.Raw(HtmlLang.Write(LangKey.Dashboard));
                                    }
                                    else
                                    {
                                        @Html.Raw(HtmlLang.Write(LangModule.GL, "GeneralLedger", "General Ledger"));
                                    }
                                </a>
                                <a href="###" class="m-refresh" onclick="$.mTab.refresh(0,'',true)">
                                    &nbsp;
                                </a>
                            </span>
                        </li>

                        @*只要有以上编辑权限的任意一种，即可显示新建tab选项卡，否则隐藏新建tab选项卡*@
                        @if (isCanInvoiceSalesChangePermission || isCanInvoicePurchasesChangePermission || isCanExpenseChangePermission || isCanContactChangePermission || isCanSettingChangePermission || isCanGeneralLedgerChangePermission)
                        {
                            <li style="position: initial;" class="last stable">
                                @*新建tab选项卡*@
                                <span class="m-tab-inner">
                                    <a href="###" id="aNewTab" class="m-tab-item m-menu-list" data-index="9999">
                                        @HtmlLang.Write(LangModule.IV, "NewPlus", "New +")
                                        <b class="m-tab-add-ico">+</b>
                                    </a>
                                </span>
                                <div id="divNewTabList" class="m-pop-box m-pop-menu">
                                    <b class="pupup-arrow-space"></b>
                                    <b class="popup-arrow popup-arrow-notch"></b>
                                    <b class="popup-arrow"></b>
                                    @if (isCanInvoiceSalesChangePermission)
                                    {//销售发票（编辑）权限校验
                                        <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "NewInvoice", "New Invoice")', '/IV/Invoice/InvoiceEdit?Origin=Quick_Menu', true, true);">@HtmlLang.Write(LangModule.IV, "NewInvoice", "New Invoice")</a></p>
                                    }
                                    @if (isCanInvoicePurchasesChangePermission)
                                    {//采购发票（编辑）权限校验
                                        <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "NewBill", "New Bill")', '/IV/Bill/BillEdit?Origin=Quick_Menu', true);">@HtmlLang.Write(LangModule.IV, "NewBill", "New Bill")</a></p>
                                    }
                                    @if (isCanExpenseChangePermission)
                                    {//费用报销单（编辑）权限校验
                                        <p><a href="###" id="aNewExpense" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "NewExpense", "New Expense Claim")', '/IV/Expense/ExpenseEdit?Origin=Quick_Menu', true);">@HtmlLang.Write(LangModule.IV, "NewExpense", "New Expense")</a></p>
                                    }
                                    @if (isCanBankAccountChangePermission && (isPaymentView))
                                    {//银行（编辑）权限校验
                                        <p><a href="###" id="aNewSpendMoney" onclick="Index.newTransaction('@BizObject.Payment');">@HtmlLang.Write(LangModule.Bank, "NewSpendMoney", "New Spend Money")</a></p>
                                    }

                                    @if (isCanBankAccountChangePermission && (isReceiveView))
                                    {//银行（编辑）权限校验
                                        <p><a href="###" id="aNewReceiveMoney" onclick="Index.newTransaction('@BizObject.Receive');">@HtmlLang.Write(LangModule.Bank, "NewReceiveMoney", "New Receive Money")</a></p>
                                    }

                                    @if (isCanGeneralLedgerChangePermission && HtmlOrg.RegProgress == (int)BASOrgScheduleTypeEnum.GLSuccess)
                                    {//基础资料（编辑）权限校验
                                        <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "NewVoucher", "New Voucher")', '/GL/GLVoucher/GLVoucherEdit?Origin=Quick_Menu', true, true,false,true);">@HtmlLang.Write(LangModule.BD, "NewVoucher", "New Voucher")</a></p>
                                    }
                                    @if (isCanContactChangePermission)
                                    {//联系人（编辑）权限校验
                                        <p><a href="###" onclick="Index.newContact();">@HtmlLang.Write(LangModule.Contact, "NewContact", "New Contact")</a></p>
                                    }
                                    @if (isCanSettingChangePermission)
                                    {//基础资料（编辑）权限校验
                                        <p><a href="###" onclick="Index.newInventoryItem();">@HtmlLang.Write(LangModule.BD, "NewItem", "New Item")</a></p>
                                    }

                                </div>
                            </li>
                        }
                        else
                        {
                            <li style="display: none;" class="last"></li>
                        }
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="m-nav">
            @if (flag_normal)
            {
                @Html.Partial("Normal", ViewData["normal"]);
            }
            else
            {
                @Html.Partial("Other", ViewData["other"]);
            }
        </div>
        <script>
            window.intercomSettings = {
                app_id: "iagvblg6",
                name: '@ctx.MFirstName',
                email: '@ctx.MEmail',
                user_id: '@ctx.MUserID',
                user_hash: '@sha256(ctx.MUserID)',
                created_at: '@ctx.MRegDate.ToUTCTime().Subtract(new DateTime(1970, 1, 1)).TotalSeconds'
            };
        </script>

        <script>
            // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/iagvblg6'
            (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/iagvblg6'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
        </script>
        <div class="m-main">
            @if (!isSmartVersion)
            {
                <div data-index="0" class="m-tab-content" style="display: block; overflow: hidden;" data-url="/FW/FWHome/FWDashboard?type=0">
                    <iframe id="dashboard"></iframe>
                </div>
            }
            else
            {
                <div data-index="0" class="m-tab-content" style="display: block; overflow: hidden;" data-url="/GL/GLVoucher/GLVoucherHome">
                    <iframe id="dashboard"></iframe>
                </div>
            }
            <div class="clear"></div>
            <div data-index="1" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="2" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="3" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="4" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="5" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="6" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="7" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="8" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="9" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="10" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
        </div>
    </div>

    <!--这是一个tab页右键刷新/删除等操作的功能-->
    <div class="home-context-menu m-pop-menu">
        <p style="width: 110px;"><a href="###" class="home-refresh">@HtmlLang.Write(LangModule.Common, "refresh", "Refresh")</a></p>
        <p style="width: 110px;"><a href="###" class="home-close">@HtmlLang.Write(LangModule.Common, "close", "Close")</a></p>
        <p style="width: 110px;"><a href="###" class="home-close-all">@HtmlLang.Write(LangModule.Common, "closeall", "Close All")</a></p>
        <p style="width: 110px;"><a href="###" class="home-close-right">@HtmlLang.Write(LangModule.Common, "closeright", "Close Right")</a></p>
        <p style="width: 110px;"><a href="###" class="home-close-others">@HtmlLang.Write(LangModule.Common, "closerothers", "Close Others")</a></p>
    </div>
    <!--顶层的遮盖，透明-->
    <div class="home-top-bg">
    </div>
    <!--顶层的遮盖，透明-->
    <div class="iframe-top-bg">
    </div>
    <!--登陆的box-->
    <div class="m-login-box-home" style="display: none;">
        @Html.Partial("LoginBoxPartial")
    </div>
    <!--搜索嵌入框-->
    <div class="m-search-div" style="display: none;">
        @Html.Partial("FWDashboardPartial/SearchPartial")
    </div>
    <input type="hidden" id="aMySite" value="@ServerHelper.FinalMyServer" />
    <input type="hidden" id="hidDomain" value="@ServerHelper.Domain" />
    <input type="hidden" id="hidCurrentLangID" value="@LangIndentity.CurrentLangID" />
    <input type="hidden" id="hidIsMigrate" value="True" />
    <input type="hidden" id="hideUserCreateDate" value="@ViewData["UserCreateDate"]" />
    <input type="hidden" id="hideLocaleId" value="@ViewData["MLocaleID"]" />

    <input type="hidden" id="hideFinalGoServer" value="@ServerHelper.FinalGoServer" />
    <input type="hidden" id="hideBetaGoServer" value="@ServerHelper.BetaGoServer" />
    <!--组织信息-->
    <input type="hidden" id="hideOrgID" value="@ctx.MOrgID" />
    <input type="hidden" id="hideOrgName" value="@ctx.MOrgName" />
    <input type="hidden" id="hideOrgVersionID" value="@ctx.MOrgVersionID" />
    <input type="hidden" id="hideOrgExpireDate" value="@ctx.MExpireDate" />
    <input type="hidden" id="hideUserName" value="@ctx.MUserName" />
    <input type="hidden" id="hideUserEamil" value="@ctx.MEmail" />

    @*<input type="hidden" id="hidIsMigrate" value="@Html.Raw(ContextHelper.MContext.MIsMigrate)" />*@
    <script src="@ServerHelper.ScriptServer/Scripts/IO/ImportBySolution/Import.interface.js?@ServerHelper.JSVersion"></script>
    @*<script src="/Scripts/FA/FAInit.js"></script>*@

    <input type="hidden" id="hidLoginServer" value="@ServerHelper.FinalLoginServer" />
    <input type="hidden" id="aGoServer" value="@ServerHelper.GoServer" />
    <input type="hidden" id="hideDashboardUrl" value="@dashboardUrl" />
    <script type="text/javascript" src="@ServerHelper.ScriptServer/Scripts/FW/FWHome/Index.js?@ServerHelper.JSVersion"></script>
    <script type="text/javascript" src="@ServerHelper.ScriptServer/scripts/FP/FPHome.js?@ServerHelper.JSVersion"></script>
    @if (!isSmartVersion)
    {
        <script type="text/javascript" src="@ServerHelper.ScriptServer/scripts/FW/FWHome/Search.js?@ServerHelper.JSVersion"></script>
    }
    <script src="@ServerHelper.StaticServer/fw/include/ichartjs/ichart.1.2.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.GoServer/Scripts/Dashboard/FWDashboardHome.js?@ServerHelper.JSVersion"></script>
    <script type="text/javascript" src="@ServerHelper.GoServer/Scripts/FP/FPDashboard.js?@ServerHelper.JSVersion"></script>
    @HtmlLang.WriteScript(LangModule.FP)
    <script type="text/javascript">
        $(document).ready(function () {
            FPDashboard.initAction();
        });
    </script>

    <script src="@ServerHelper.StaticServer/FW/scripts/signalr/SignalR/jquery.signalR-2.2.0.min.js?@ServerHelper.JSVersion" defer="defer"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/signalr/SignalR/jquery.megi.pushmessage.js?@ServerHelper.JSVersion" defer="defer"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/systemupdate/jquery.megi.systemupdate.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/include/linq/linq.min.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.browser.tabswitch.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.publish.js?@ServerHelper.JSVersion"></script>
    @JieNor.Megi.Identity.HtmlHelper.HtmlLang.WriteEasyuiLocalJs(LangIndentity.CurrentLangID)
</body>
</html>
