<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex,nofllow" />
    <title>@HtmlLang.Write(LangKey.MegiManagerSystem)</title>
    @using JieNor.Megi.Core.Const
    @using JieNor.Megi.Identity.Go.HtmlHelper
    @using JieNor.Megi.EntityModel.MultiLanguage
    @using JieNor.Megi.Identity.HtmlHelper
    @using JieNor.Megi.Common.Utility
    @using JieNor.Megi.Identity
    @using JieNor.Megi.DataModel.BAS
    @using JieNor.Megi.EntityModel.Enum
    @using JieNor.Megi.Tools
    @using JieNor.Megi.Common.Context
    @using System.Text
    @{
        var localCss = ServerHelper.StaticServer + "/fw/themes/" + LangIndentity.CurrentLangID + "/css.css?" + ServerHelper.JSVersion;
        var localJs = ServerHelper.StaticServer + "/Lang/JieNor.Megi.Common." + LangIndentity.CurrentLangID + ".js?" + ServerHelper.JSVersion;

    }
    @{



        var accessResponse = AccessHelper.Access();

        var accessList = accessResponse.Access;

        var ctx = ContextHelper.MContext;

        bool isSmartVersion = ctx.MOrgVersionID == OrgVersionEnum.Smart;

        var dashboardTitle = JavaScriptDES.EncryptDES(!isSmartVersion ? HtmlLang.Write(LangKey.Dashboard).ToString() : HtmlLang.Write(LangModule.GL, "GeneralLedger", "General Ledger").ToString());
        var dashboardUrl = (!isSmartVersion ? "/FW/FWHome/FWDashboard?type=0&_tabTitle_=" : "/GL/GLVoucher/GLVoucherHome?type=0&_tabTitle_=") + dashboardTitle;

        //是否有 销售报表（查看）权限
        bool isCanSaleReportsViewPermission = accessList[BizObject.Sale_Reports + PermissionItem.View];
        //是否有 采购报表（查看）权限
        bool isCanPurchaseReportsViewPermission = accessList[BizObject.Purchase_Reports + PermissionItem.View];
        //是否有 银行报表（查看）权限
        bool isCanBankReportsViewPermission = accessList[BizObject.Bank_Reports + PermissionItem.View];
        //费用报销报表（查看权限）
        bool isCanExpenseReportsViewPermission = accessList[BizObject.Expense_Reports + PermissionItem.View];
        //费用报销报表（查看权限）
        bool isCanGeneralLedgerReportsViewPermission = accessList[BizObject.General_Reports + PermissionItem.View];
        //是否有固定资产报销报表
        bool isCanFixedAssetsReportsViewPermission = accessList[BizObject.FixedAsset_Reports + PermissionItem.View];

        //是否有 银行账号（查看）权限
        bool isCanBankAccountViewPermission = accessList[BizObject.BankAccount + PermissionItem.View];

        bool isContactView = accessList[BizObject.Contact + PermissionItem.View];


        //银行账号必须要有approve权限
        bool isCanBankAccountApprovePermission = accessList[BizObject.Bank_Reconciliation + PermissionItem.View];


        //是否有 销售发票（查看）权限
        bool isCanInvoiceSalesViewPermission = accessList[BizObject.Invoice_Sales + PermissionItem.View];
        //是否有 采购发票（查看）权限
        bool isCanInvoicePurchasesViewPermission = accessList[BizObject.Invoice_Purchases + PermissionItem.View];
        //是否有 费用报销（查看）权限
        bool isCanExpenseViewPermission = accessList[BizObject.Expense + PermissionItem.View];
        //是否有 工资（查看）权限
        bool isCanPayRunViewPermission = accessList[BizObject.PayRun + PermissionItem.View];
        //是否有 银行账号（查看）权限
        bool isCanGeneralLedgerViewPermission = accessList[BizObject.General_Ledger + PermissionItem.View];
        //是否有 银行账号（查看）权限
        bool isCanGeneralLedgerChangePermission = accessList[BizObject.General_Ledger + PermissionItem.Change];
        //是否有 销售发票（查看）权限
        bool isCanSaleFapiaoViewPermission = accessList[BizObject.Sales_Fapiao + PermissionItem.View];
        //是否有 采购发票（查看）权限
        bool isCanPurchaseFapiaoViewPermission = accessList[BizObject.Purchases_Fapiao + PermissionItem.View];

        bool isBankReconcileViewPermission = accessList[BizObject.Bank_Reconciliation + PermissionItem.View];
        //是否有 销售发票（编辑）权限
        bool isCanInvoiceSalesChangePermission = accessList[BizObject.Invoice_Sales + PermissionItem.Change];
        //是否有 采购发票（编辑）权限
        bool isCanInvoicePurchasesChangePermission = accessList[BizObject.Invoice_Purchases + PermissionItem.Change];

        //是否有 销售发票（审核）权限
        bool isCanSalesFaPiaoApprovePermission = accessList[BizObject.Sales_Fapiao + PermissionItem.Approve];
        //是否有 采购发票（审核）权限
        bool isCanPurchasesFaPiaoApprovePermission = accessList[BizObject.Purchases_Fapiao + PermissionItem.Approve];

        //是否有 费用报销单（编辑）权限
        bool isCanExpenseChangePermission = accessList[BizObject.Expense + PermissionItem.Change];
        //是否有 联系人（编辑）权限
        bool isCanContactChangePermission = accessList[BizObject.Contact + PermissionItem.Change];
        //是否有 基础资料（编辑）权限
        bool isCanSettingChangePermission = accessList[BizObject.Setting + PermissionItem.Change];
        //是否有新建凭证的权限
        bool isCanEditVoucherPermission = accessList[BizObject.General_Ledger + PermissionItem.Change];

        //是否有新建凭证的权限
        bool isCanApproveVoucherPermission = accessList[BizObject.General_Ledger + PermissionItem.Approve];

        //总账报表的权限
        bool isCanViewGLReport = accessList[BizObject.General_Reports + PermissionItem.View];


        //是否有 银行(编辑)权限
        bool isCanBankAccountChangePermission = accessList[BizObject.BankAccount + PermissionItem.Change];


        bool isAttachmentView = accessList[BizObject.Attachment + PermissionItem.View];



        var isSettingExport = accessList[BizObject.Setting + PermissionItem.Export];
        var isInvoiceExport = accessList[BizObject.Invoice_Sales + PermissionItem.Export];
        var isPurchaseExport = accessList[BizObject.Invoice_Purchases + PermissionItem.Export];
        var isContactExport = accessList[BizObject.Contact + PermissionItem.Export];
        var isGeneralLedgerExport = accessList[BizObject.General_Ledger + PermissionItem.Export];
        var isBankAccountExport = accessList[BizObject.BankAccount + PermissionItem.Export];

        //是否有 组织（查看）权限
        bool isCanOrgViewPermission = accessList[BizObject.Org + PermissionItem.View];



        bool isExcelDownLoad = accessList[BizObject.Excel_Plus_Download + PermissionItem.Export];
        bool isMigrationToolDownLoad = accessList[BizObject.Migration_Tool_Download + PermissionItem.Export];

        //是否有 基础资料（查看）权限
        bool isCanSettingViewPermission = accessList[BizObject.Setting + PermissionItem.View];
        //是否有 用户（查看）权限
        bool isCanUserViewPermission = accessList[BizObject.User + PermissionItem.View];
        //是否有 科目（查看）权限
        bool isCanAccountViewPermission = accessList[BizObject.Account + PermissionItem.View];


        bool isPaymentView = accessList[BizObject.Payment];
        bool isReceiveView = accessList[BizObject.Receive];


        var canSetFixAssetsType = accessList[BizObject.Setting + PermissionItem.Change];
        //判断固定资产是否启用
        var isFixAssetsBegin = ctx.MFABeginDate != DateTime.MinValue;
        //是否有 固定资产权限
        var isFixAssetView = accessList[BizObject.FixedAsset + PermissionItem.View];

        //是否有工资修改权限
        bool isCanEditPayRunPermission = HtmlSECMenu.HavePermission(BizObject.PayRun, PermissionItem.Change);


        var firtCount = 0;

        var secondCount = 0;

        var thirdCount = 0;

        Func<string, string> sha256 = (string message) =>
         {
             var secretKey = "rL3qdqkukmX9n5WN0PcOR_ibD6xiw-pkrccS99Q5";
             var encoding = new System.Text.UTF8Encoding();
             byte[] keyByte = encoding.GetBytes(secretKey);
             byte[] messageBytes = encoding.GetBytes(message);
             using (var hmacsha256 = new System.Security.Cryptography.HMACSHA256(keyByte))
             {
                 byte[] hashmessage = hmacsha256.ComputeHash(messageBytes);
                 StringBuilder rst = new StringBuilder();
                 for (int i = 0; i < hashmessage.Length; i++)
                 {
                     rst.Append(hashmessage[i].ToString("x2"));
                 }

                 return rst.ToString();
             }
         };
    }

    <link type="text/css" rel="stylesheet" href="@ServerHelper.StaticServer/fw/min/jquery.megi.min.css?@ServerHelper.JSVersion" />
    <link type="text/css" rel="stylesheet" href="@localCss" />
    <script type="text/javascript">
        @Html.Raw(string.Format("document.domain ='{0}';", ServerHelper.Domain))
    </script>
    <script type="text/javascript" src="@localJs"></script>
    @HtmlLang.WriteScript(LangModule.Common)
    @HtmlLang.WriteScript(LangModule.BD)
    @HtmlLang.WriteScript(LangModule.Contact)
    @HtmlLang.WriteScript(LangModule.IV)
    @HtmlLang.WriteScript(LangModule.Bank)
    @HtmlLang.WriteScript(LangModule.My)
    @HtmlLang.WriteScript(LangModule.PA)
    @HtmlLang.WriteScript(LangModule.FA)
    @HtmlLang.WriteScript(LangModule.GL)
    @HtmlLang.WriteScript(LangModule.FP)
    <!--日志记录的js，必须拿出来，不可放在min.js里面-->
    <script src="@ServerHelper.ScriptServer/Scripts/FW/jquery.megi.exception.js?@ServerHelper.JSVersion"></script>
    <script type="text/javascript" src="@ServerHelper.StaticServer/fw/min/jquery.megi.js?@ServerHelper.JSVersion"></script>
    <script type="text/javascript" src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.footprint.js?@ServerHelper.JSVersion"></script>
    <!--个人需要调试的样式，请放在此处,下例-->
    <!--以下放入一些常用的从后端传过来的js变量，供top以及子iframe使用 felson-->
    <script type="text/javascript">
        //本用户的多语言信息
        window.OrgLang = (function (lang) {
            //转化为json
            return $.parseJSON(lang.replace(/&quot;/g, '"'));
        })('@HtmlLang.OrgLang()');
        //本用户的国际化信息，包括时区以及日期格式等等
        window.MegiGlobal = (function (global) {
            return $.parseJSON(global.replace(/&quot;/g, '"'));
        })('@HtmlLang.GlobalInfo()');
        //浏览器关闭，或者退出/刷新的时候，提醒用户确认
        window.onbeforeunload = function () {
            return '@HtmlLang.Write(LangModule.Common, "checkalldatasaved", "Megi : Are you sure to Exit or Reload? Confirm that all data saved.")';
        }
        //各个站点的地址
        window.LoginServer = '@ServerHelper.FinalLoginServer';
        //各个站点的地址
        window.MyServer = '@ServerHelper.FinalMyServer';


        //点击刷新
    </script>
    @Html.Raw(HtmlUser.VersionScript())
</head>
<body>
    <div class="m-wrapper">
        <div class="m-header">
            <div class="m-top">
                <div class="m-logo"></div>
                <!--组织下拉框-->
                <div id="divOrgCombox"></div>
                @*@Html.Raw(@HtmlOrg.GoOrgSelectList())*@
                <div class="m-action">
                    <a class="m-global" href="###" style="display: none;">&nbsp;</a>
                    @if (!isSmartVersion)
                    {
                        <a class="m-search" href="###" title="@HtmlLang.Write(LangModule.Common, "Search", "搜索")">&nbsp;</a>
                    }
                    <a class="m-help" href="###" onclick="if(Intercom) Intercom('show');" id="megiFeedback" title="@HtmlLang.Write(LangModule.Common, "help", "帮助")">&nbsp;</a>
                    @if (isAttachmentView)
                    {//附件（查看）权限校验
                        <a class="m-attachment" id="aAttachment" href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Docs, "Attachment", "Attachment")', '/BD/Docs/Folders', true);" title=@HtmlLang.Write(LangModule.Docs, "Attachment", "附件")>&nbsp;</a>
                    }
                    <a id="aUser" class="m-user" href="###" title="@HtmlLang.Write(LangModule.Docs, "Users", "用户")">&nbsp;</a>
                    <div id="divUserInfo" class="m-user-info">
                        <b class="popup-arrow popup-arrow-notch"></b>
                        <b class="popup-arrow"></b>
                        <div class="m-user-img">
                            @*@{
                                    string headImageUrl = ServerHelper.MyServer + "/Profile/ShowHeaderIamge";
                                }*@
                            @*<input type="hidden" id="hideImageUrl" value="@headImageUrl" />*@
                            <img id="imageHeaderImage" src='@ServerHelper.StaticServer/fw/themes/base/images/default-header.jpg' style="height: 80px;width: 80px;" />
                        </div>
                        <div class="m-user-content">
                            <p id="lblUserName" class="m-ellipsis" style="white-space:nowrap;" title="@HtmlUser.UserName()">@MText.Decode(HtmlUser.UserName())</p>
                            <ul>
                                <li><a href="###" id="aProfilesettings" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.My, "profilesettings", "Profile Settings")', '@ServerHelper.FinalMyServer/Setting/Profile/ProfileEdit',true)">@HtmlLang.Write(LangModule.My, "profilesettings", "Profile Settings")</a></li>
                                <li><a href="###" id="aAccountSettings" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.My, "AccountSettings", "Account Settings")', '@ServerHelper.FinalMyServer/Setting/Account/AccountEdit',true)">@HtmlLang.Write(LangModule.My, "AccountSettings", "Account Settings")</a></li>
                            </ul>
                        </div>
                        <div class="m-lang-top">
                            @HtmlLang.LangBar(ServerType.GoServer)
                        </div>
                        <div class="m-quit">
                            <a id="aLogout" href="@ServerHelper.FinalLoginServer/Account/Logout">@HtmlLang.Write(LangKey.Logout)</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="m-bottom">
                <div class="m-menu-show">
                </div>
                <div class="m-tab">
                    <ul class="m-tab-ul">
                        <li class="current stable">
                            <span class="m-tab-inner">
                                <a href="###" onclick="$.mTab.showCurrent(0)" class="m-tab-item" data-index="0">
                                    @if (!isSmartVersion)
                                    {
                                        @Html.Raw(HtmlLang.Write(LangKey.Dashboard));
                                    }
                                    else
                                    {
                                        @Html.Raw(HtmlLang.Write(LangModule.GL, "GeneralLedger", "General Ledger"));
                                    }
                                </a>
                                <a href="###" class="m-refresh" onclick="$.mTab.refresh(0,'',true)">
                                    &nbsp;
                                </a>
                            </span>
                        </li>

                        @*只要有以上编辑权限的任意一种，即可显示新建tab选项卡，否则隐藏新建tab选项卡*@
                        @if (isCanInvoiceSalesChangePermission || isCanInvoicePurchasesChangePermission || isCanExpenseChangePermission || isCanContactChangePermission || isCanSettingChangePermission || isCanGeneralLedgerChangePermission)
                        {
                            <li style="position: initial;" class="last stable">
                                @*新建tab选项卡*@
                                <span class="m-tab-inner">
                                    <a href="###" id="aNewTab" class="m-tab-item m-menu-list" data-index="9999">
                                        @HtmlLang.Write(LangModule.IV, "NewPlus", "New +")
                                    </a>
                                </span>
                                <div id="divNewTabList" class="m-pop-box m-pop-menu">
                                    <b class="pupup-arrow-space"></b>
                                    <b class="popup-arrow popup-arrow-notch"></b>
                                    <b class="popup-arrow"></b>
                                    @if (isCanInvoiceSalesChangePermission)
                                    {//销售发票（编辑）权限校验
                                        <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "NewInvoice", "New Invoice")', '/IV/Invoice/InvoiceEdit?Origin=Quick_Menu', true, true);">@HtmlLang.Write(LangModule.IV, "NewInvoice", "New Invoice")</a></p>
                                    }
                                    @if (isCanInvoicePurchasesChangePermission)
                                    {//采购发票（编辑）权限校验
                                        <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "NewBill", "New Bill")', '/IV/Bill/BillEdit?Origin=Quick_Menu', true);">@HtmlLang.Write(LangModule.IV, "NewBill", "New Bill")</a></p>
                                    }
                                    @if (isCanExpenseChangePermission)
                                    {//费用报销单（编辑）权限校验
                                        <p><a href="###" id="aNewExpense" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "NewExpense", "New Expense Claim")', '/IV/Expense/ExpenseEdit?Origin=Quick_Menu', true);">@HtmlLang.Write(LangModule.IV, "NewExpense", "New Expense")</a></p>
                                    }
                                    @if (isCanBankAccountChangePermission && (isPaymentView))
                                    {//银行（编辑）权限校验
                                        <p><a href="###" id="aNewSpendMoney" onclick="Index.newTransaction('@BizObject.Payment');">@HtmlLang.Write(LangModule.Bank, "NewSpendMoney", "New Spend Money")</a></p>
                                    }

                                    @if (isCanBankAccountChangePermission && (isReceiveView))
                                    {//银行（编辑）权限校验
                                        <p><a href="###" id="aNewReceiveMoney" onclick="Index.newTransaction('@BizObject.Receive');">@HtmlLang.Write(LangModule.Bank, "NewReceiveMoney", "New Receive Money")</a></p>
                                    }

                                    @if (isCanEditVoucherPermission && HtmlOrg.RegProgress == (int)BASOrgScheduleTypeEnum.GLSuccess)
                                    {//基础资料（编辑）权限校验
                                        <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "NewVoucher", "New Voucher")', '/GL/GLVoucher/GLVoucherEdit?Origin=Quick_Menu', true, true,false,true);">@HtmlLang.Write(LangModule.BD, "NewVoucher", "New Voucher")</a></p>
                                    }
                                    @if (isCanContactChangePermission)
                                    {//联系人（编辑）权限校验
                                        <p><a href="###" onclick="Index.newContact();">@HtmlLang.Write(LangModule.Contact, "NewContact", "New Contact")</a></p>
                                    }
                                    @if (isCanSettingChangePermission)
                                    {//基础资料（编辑）权限校验
                                        <p><a href="###" onclick="Index.newInventoryItem();">@HtmlLang.Write(LangModule.BD, "NewItem", "New Item")</a></p>
                                    }

                                </div>
                            </li>
                        }
                        else
                        {
                            <li style="display: none;" class="last"></li>
                        }
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="m-nav">
            <ul class="top">
                @if (!isSmartVersion)
                {
                    <li class="item">
                        <a href="###" class="item-link m-nav-dashboard" data-index="0">&nbsp;</a>
                        <div class="m-sub-nav-container">
                            <div class="m-sub-nav">
                                <span class="arrow-left-border">&nbsp;</span>
                                <span class="arrow-left">&nbsp;</span>

                                <p><a href="###" data-index="0" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangKey.Dashboard)','/FW/FWHome/FWDashboard?type=0',true)">@HtmlLang.Write(LangModule.BD, "DataHome", "Data home")</a></p>
                                <p><a href="###" data-index="0">&nbsp;</a></p>
                            </div>
                        </div>
                    </li>
                }
                @*只要有以上查看权限的任意一种，即可显示大菜单，否则隐藏大菜单*@
                @if (isCanBankAccountViewPermission || isCanInvoiceSalesViewPermission || isCanInvoicePurchasesViewPermission || isCanExpenseViewPermission || isCanGeneralLedgerViewPermission)
                {
                    <li class="item">
                        <a href="###" id="aBusiness" class="item-link m-nav-account">&nbsp;</a>
                        <div class="m-sub-nav-container">
                            <div class="m-sub-nav">
                                <span class="arrow-left-border">&nbsp;</span>
                                <span class="arrow-left">&nbsp;</span>


                                @if (isCanBankAccountViewPermission)
                                {//银行账号（查看）权限校验
                                    <p><a href="###" id="BankAccounts" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "BankAccounts", "Bank Accounts")', '/BD/BDBank/BDBankHome', true)" class="">@HtmlLang.Write(LangModule.IV, "BankAccounts", "Bank Accounts")</a></p>
                                }

                                @if (isCanInvoiceSalesViewPermission)
                                {//销售发票（查看）权限校验
                                    <p><a href="###" id="aSales" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "Sales", "Sales")', '/IV/Invoice/InvoiceList',true)">@HtmlLang.Write(LangModule.IV, "Sales", "Sales")</a></p>
                                }
                                @if (isCanInvoicePurchasesViewPermission)
                                {//采购发票（查看）权限校验
                                    <p><a href="###" id="aPurchase" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "Purchase", "Purchase")', '/IV/Bill/BillList',true)">@HtmlLang.Write(LangModule.IV, "Purchase", "Purchase")</a></p>
                                }
                                @if (isCanExpenseViewPermission)
                                {//费用报销（查看）权限校验
                                    <p><a href="###" id="aExpenseClaims" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.IV, "ExpenseClaims", "Expense Claims")', '/IV/Expense/ExpenseList',true)">@HtmlLang.Write(LangModule.IV, "ExpenseClaims", "Expense Claims")</a></p>
                                }
                                @if (isCanPayRunViewPermission)
                                {//工资（查看）权限校验
                                    <p><a href="###" id="aPayRun" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.PA, "PayRun", "Pay Run")', '/PA/SalaryPayment/PayRunList',true)">@HtmlLang.Write(LangModule.PA, "PayRun", "Pay Run")</a></p>
                                }
                                @if (isCanGeneralLedgerViewPermission && HtmlOrg.RegProgress == (int)BASOrgScheduleTypeEnum.GLSuccess)
                                {
                                    <p><a href="###" id="aGeneralLedger" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.GL, "GeneralLedger", "General Ledger")', '/GL/GLVoucher/GLVoucherHome',true)">@HtmlLang.Write(LangModule.GL, "GeneralLedger", "General Ledger")</a></p>
                                }
                                @if (isFixAssetsBegin && isFixAssetView)
                                {
                                    <p><a href="###" id="aFixAssets" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.FA, "FixAssetsManagement", "固定资产")', '/FA/FAFixAssets/FixAssetsHome',true)">@HtmlLang.Write(LangModule.FA, "FixAssetsManagement", "固定资产")</a></p>
                                }

                                @if (ctx.MBasCurrencyID == "CNY" && (isCanPurchaseFapiaoViewPermission || isCanSaleFapiaoViewPermission))
                                {
                                    <p><a href="###" id="aFapiaoHome" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.FP, "FapiaoHome", "发票主页")', '/FP/FPHome/FPDashboard',true)">@HtmlLang.Write(LangModule.FP, "FapiaoHome", "发票主页")</a></p>
                                }
                            </div>
                        </div>
                    </li>
                }
                @*只要有以查看权限的任意一种，即可显示大菜单，否则隐藏大菜单*@
                @if (isCanSaleReportsViewPermission || isCanPurchaseReportsViewPermission || isCanBankReportsViewPermission || isCanExpenseReportsViewPermission || isCanGeneralLedgerReportsViewPermission || isCanFixedAssetsReportsViewPermission)
                {
                    <li class="item">
                        <a href="###" class="item-link m-nav-report">&nbsp;</a>
                        <div class="m-sub-nav-container">
                            <div class="m-sub-nav">
                                <span class="arrow-left-border">&nbsp;</span>
                                <span class="arrow-left">&nbsp;</span>
                                <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "AllReports", "All Reports")', '/Report/',true)">@HtmlLang.Write(LangModule.Report, "AllReports", "All Reports")</a></p>
                                @if (isCanSaleReportsViewPermission)
                                {   /*销售报表（按商品）*/
                                    //<p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "SalesByItem", "Sales By Item")', '/Report/Report2/6', true)">@HtmlLang.Write(LangModule.Report, "SalesByItem", "Sales By Item")</a></p>
                                    /*客户收入统计表*/
                                    //<p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "IncomeByContact", "Income By Contact")', '/Report/Report2/9', true)">@HtmlLang.Write(LangModule.Report, "IncomeByContact", "Income By Contact")</a></p>
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "AgedReceivables", "Aged Receivables")', '/Report/Report2/21', true)">@HtmlLang.Write(LangModule.Report, "AgedReceivables", "Aged Receivables")</a></p>
                                }
                                @if (isCanPurchaseReportsViewPermission)
                                {
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "AgedPayables", "Aged Payables")', '/Report/Report2/19', true)">@HtmlLang.Write(LangModule.Report, "AgedPayables", "Aged Payables")</a></p>
                                }
                                @if (isCanBankReportsViewPermission)
                                {
                                    /*银行勾对明细表*/
                                    //<p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "bankreconciliationsummary", "Bank Reconciliation Summary")', '/Report/Report2/11', true)">@HtmlLang.Write(LangModule.Report, "bankreconciliationsummary", "Bank Reconciliation Summary")</a></p>
                                    @*<p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "CashSummary", "Cash Summary")', '/Report/Report2/12', true)">@HtmlLang.Write(LangModule.Report, "CashSummary", "Cash Summary")</a></p>*@
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "BankAndCashSummary", "Bank and Cash Summary")', '/Report/Report2/13', true)">@HtmlLang.Write(LangModule.Report, "BankAndCashSummary", "Bank and Cash Summary")</a></p>
                                    /*税额汇总表*/
                                    //<p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "salestaxreport", "Sales Tax Report")', '/Report/Report2/8',  true)">@HtmlLang.Write(LangModule.Report, "salestaxreport", "Sales Tax Report")</a></p>
                                }
                                @if (isCanExpenseReportsViewPermission)
                                {
                                    <!--费用报销报表-->
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "ExpenseClaimsReport", "Expense Claims Report")', '/Report/Report2/38', true)">@HtmlLang.Write(LangModule.Report, "ExpenseClaimsReport", "Expense Claims Report")</a></p>
                                }
                                @if (isCanViewGLReport && HtmlOrg.RegProgress == (int)BASOrgScheduleTypeEnum.GLSuccess)
                                {
                                    <!--总账相关的报表-->
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "GeneralLedger", "总分类账")', '/Report/Report2/33', true)">@HtmlLang.Write(LangModule.Report, "GeneralLedger", "总分类账")</a></p>
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "AccountBalanceReport", "Account Balance Report")', '/Report/Report2/41', true)">@HtmlLang.Write(LangModule.Report, "AccountBalanceReport", "Account Balance Report")</a></p>
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "SubsidiaryLedgerReport", "明细分类账")', '/Report/Report2/42', true)">@HtmlLang.Write(LangModule.Report, "SubsidiaryLedgerReport", "明细分类账")</a></p>
                                }
                                @if (isCanViewGLReport && HtmlOrg.RegProgress == (int)BASOrgScheduleTypeEnum.GLSuccess && (ctx.MAccountTableID == null || ctx.MAccountTableID != JieNor.Megi.EntityModel.Enum.AccountTableEnum.UCAS))
                                {
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "IncomeStatement", "Income Statement")','/Report/Report2/@Convert.ToInt32(BizReportType.IncomeStatement)')">@HtmlLang.Write(LangModule.Report, "IncomeStatement", "Income Statement")</a></p>
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "BalanceSheet", "Balance Sheet")','/Report/Report2/@Convert.ToInt32(BizReportType.BalanceSheet)')">@HtmlLang.Write(LangModule.Report, "BalanceSheet", "Balance Sheet")</a></p>
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "CashFlowStatement", "Cash Flow Statement")','/Report/Report2/@Convert.ToInt32(BizReportType.CashFlowStatement)')">@HtmlLang.Write(LangModule.Report, "CashFlowStatement", "Cash Flow Statement")</a></p>
                                }
                                <!--固定资产的报表-->
                                @if (isCanFixedAssetsReportsViewPermission && ctx.MFABeginDate != DateTime.MinValue)
                                {
                                    <!-- <p><a href="javascript:void(0)" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "DepreciationDetailReport", "折旧明细表")','/Report/Report2/@Convert.ToInt32(BizReportType.DepreciationDetail)')">@HtmlLang.Write(LangModule.Report, "DepreciationDetailReport", "折旧明细表")</a></p> -->
                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "DepreciationSummaryReport", "折旧汇总表")','/Report/Report2/@Convert.ToInt32(BizReportType.DepreciationSummary)')">@HtmlLang.Write(LangModule.Report, "DepreciationSummaryReport", "折旧汇总表")</a></p>
                                    <!-- <p><a href="javascript:void(0)" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "AssetDepreciationReport", "资产明细账")','/Report/Report2/@Convert.ToInt32(BizReportType.AssetDepreciation)')">@HtmlLang.Write(LangModule.Report, "AssetDepreciationReport", "资产明细账")</a></p> -->
                                    <!--<p><a href="javascript:void(0)" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Report, "AssetChangeReport", "资产变更表")','/Report/Report2/@Convert.ToInt32(BizReportType.AssetChange)')">@HtmlLang.Write(LangModule.Report, "AssetChangeReport", "资产变更表")</a></p>-->
                                }
                            </div>
                        </div>
                    </li>
                }
                @if (isContactExport || isContactView)
                {//联系人（查看）权限校验
                    <li class="item">
                        <a href="###" class="item-link m-nav-folder" id="aIdentity">&nbsp;</a>
                        <div class="m-sub-nav-container">
                            <div class="m-sub-nav">
                                <span class="arrow-left-border">&nbsp;</span>
                                <span class="arrow-left">&nbsp;</span>
                                <p><a href="###" id="aAllContacts" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Contact, "AllContacts", "All Contacts")', '/BD/Contacts/ContactsList',true)">@HtmlLang.Write(LangModule.Contact, "AllContacts", "All Contacts")</a></p>
                                <p><a href="###" id="aCustomers" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Contact, "Customers", "Customers")', '/BD/Contacts/ContactsList/@HtmlLang.Write(LangModule.Contact, "Customers", "Customers")',true)">@HtmlLang.Write(LangModule.Contact, "Customers", "Customers")</a></p>
                                <p><a href="###" id="aCustomers" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Contact, "Suppliers", "Suppliers")', '/BD/Contacts/ContactsList/@HtmlLang.Write(LangModule.Contact, "Suppliers", "Suppliers")',true)">@HtmlLang.Write(LangModule.Contact, "Suppliers", "Suppliers")</a></p>
                                <p><a href="###" id="aOther" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Contact, "Other", "Other")', '/BD/Contacts/ContactsList/@HtmlLang.Write(LangModule.Contact, "Other", "Other")',true)">@HtmlLang.Write(LangModule.Contact, "Other", "Other")</a></p>
                                <p><a href="###" id="aEmployees" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Contact, "Employees", "Employees")', '/BD/Employees/EmployeesList',true)">@HtmlLang.Write(LangModule.Contact, "Employees", "Employees")</a></p>
                                @*<p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Contact, "Department", "Department")', '/BD/Dept/DeptList',true)">@HtmlLang.Write(LangModule.Contact, "Department", "Department")</a></p>  *@
                            </div>
                        </div>
                    </li>
                }
            </ul>

            @*只要有以上三种查看权限的任意一种，即可显示大菜单，否则隐藏大菜单*@
            @if (isCanOrgViewPermission || isCanSettingViewPermission || isCanUserViewPermission)
            {
                <ul class="bottom">
                    <li>
                        <a id="aOption" class="item-link m-nav-setting">&nbsp;</a>
                        <div class="m-sub-nav-container" style="margin-top: -10px">
                            <div class="m-sub-nav">
                                <span class="arrow-left-border">&nbsp;</span>
                                <span class="arrow-left">&nbsp;</span>
                                <div class="arrow-content">
                                    <div class="arrow-content-cell first">
                                        @*<div class="arrow-content-cell-title">@HtmlLang.Write(LangModule.Org, "Organisation", "Organisation")</div>*@
                                        <div class="arrow-content-cell-title">@HtmlLang.Write(LangModule.Common, "BasicSetting", "基础设置")</div>
                                        @if (isCanSettingViewPermission)
                                        {
                                            firtCount++;
                                            <p><a href="###" id="aOrganisation" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Org, "OrganisationSettings", "Organisation Settings")', '/BD/Organisation/OrganisationEdit',true)">@HtmlLang.Write(LangModule.Org, "OrganisationSettings", "Organisation Settings")</a></p>
                                            firtCount++;
                                            <p><a href="###" id="agLobalization" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Org, "GlobalizationSettings", "Globalization Settings")', '/BD/Organisation/GlobalizationSettings',true)">@HtmlLang.Write(LangModule.Org, "GlobalizationSettings", "Globalization Settings")</a></p>
                                        }
                                        @if (isCanSettingViewPermission)
                                        {
                                            firtCount++;
                                            //基础资料（查看）权限校验

                                            if (ViewData["PlanCode"].ToString() != "SALES")
                                            {
                                                <p><a href="###" id="aFinancial" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "FinancialSettings", "Financial Settings")', '/BD/Financial/FinancialEdit',true)">@HtmlLang.Write(LangModule.BD, "FinancialSettings", "Financial Settings")</a></p>
                                                if (!isSmartVersion)
                                                {
                                                    firtCount++;
                                                    <p><a href="###" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "BankAccountBalances", "Initial Amount Of Bank Account")', '/BD/BDBank/BankAccountBalances', true)">@HtmlLang.Write(LangModule.BD, "BankAccountBalances", "Initial Amount Of Bank Account")</a></p>

                                                }
                                            }

                                            firtCount++;
                                            <p><a href="###" id="aTaxRate" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "TaxRate", "Tax Rate")', '/BD/TaxRate/TaxRateList',true)">@HtmlLang.Write(LangModule.BD, "TaxRate", "Tax Rate")</a></p>
                                            firtCount++;
                                            <p><a href="###" id="aCurrency" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "Currency", "Currency")', '/BD/Currency/Currency', true)">@HtmlLang.Write(LangModule.BD, "Currency", "Currency")</a></p>
                                            firtCount++;
                                            <p><a href="###" id="aInventory" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "InventoryItems", "Inventory Items")', '/BD/Item/ItemList',true)">@HtmlLang.Write(LangModule.BD, "InventoryItems", "Inventory Items")</a></p>
                                            if (ViewData["PlanCode"].ToString() != "SALES")
                                            {
                                                firtCount++;
                                                <p><a href="###" id="aExpenseItem" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "ExpenseItems", "Expense Items")', '/BD/ExpenseItem/ExpenseItemList',true)">@HtmlLang.Write(LangModule.BD, "ExpenseItems", "Expense Items")</a></p>
                                                if (isCanPayRunViewPermission)
                                                {
                                                    firtCount++;
                                                    <!--工资相关-->
                                                    <p><a href="###" id="aSalaryComp" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "SalaryComponent", "Salary Component")', '/PA/PayItem/Index',true)">@HtmlLang.Write(LangModule.BD, "SalaryComponent", "Salary Component")</a></p>
                                                }
                                                firtCount++;
                                                <p><a href="###" id="aTracking" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "Tracking", "Tracking")', '/BD/Tracking/Index',true)">@HtmlLang.Write(LangModule.BD, "Tracking", "Tracking")</a></p>
                                            }
                                        }
                                        @if (ViewData["PlanCode"].ToString() != "SALES")
                                        {
                                            <!--快速码暂时只有总帐-->
                                            if (isCanGeneralLedgerViewPermission || isBankReconcileViewPermission)
                                            {
                                                firtCount++;
                                                <p><a href="###" id="aFastCode" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.GL, "FastCode", "快速码管理")', '/FC/FCHome/FCHome',true)">@HtmlLang.Write(LangModule.GL, "FastCode", "快速码管理")</a></p>
                                            }
                                            <!--固定资产类别设置-->
                                            if (isFixAssetsBegin && canSetFixAssetsType)
                                            {
                                                firtCount++;
                                                <p><a href="###" id="aFixAssetsType" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.FA, "FixAssetsType", "资产类别管理")', '/FA/FAFixAssets/FixAssetsTypeHome',true)">@HtmlLang.Write(LangModule.FA, "FixAssetsType", "资产类别管理")</a></p>
                                            }
                                            if (isCanInvoiceSalesChangePermission || isCanInvoicePurchasesChangePermission
|| isCanExpenseChangePermission || isCanBankAccountChangePermission || isCanGeneralLedgerChangePermission)
                                            {
                                                firtCount++;
                                                <p><a href="###" id="aImport" onclick="IOImport.open(0)">@HtmlLang.Write(LangKey.Import)</a></p>
                                            }
                                        }
                                    </div>
                                    <div class="arrow-content-cell second">

                                        <div class="arrow-content-cell-title">@HtmlLang.Write(LangModule.Common, "AdvanceSetting", "高级设置")</div>
                                        @if (isCanUserViewPermission)
                                        {
                                            secondCount++;
                                            //用户（查看）权限校验
                                            <p myattr="right"><a href="###" id="aUser" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.User, "Users", "Users")', '/BD/User/UserList',true)">@HtmlLang.Write(LangModule.User, "Users", "Users")</a></p>
                                        }
                                        @*<div class="arrow-content-cell-title">Features</div>*@
                                        @*系统设置菜单栏里面的 Features 子菜单的 p 标签需要加上 myattr="right" 属性值，因为顶级菜单的高度是根据这些 p 标签来计算的，需要排除右边 p 标签的高度*@
                                        @*@if (isCanSettingViewPermission)
        {
            //只有在没有启用总账以及启用了总账并且初始化了科目之后，这个按钮不显示了
            if (!isSmartVersion && ctx.MRegProgress < (int)BASOrgScheduleTypeEnum.GLSuccess)
            {
                secondCount++;
            <p myattr="right"><a href="###" id="aDocInitBills" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "DocInitBills", "业务单据初始化")', '/BD/Organisation/InitSettings',true,true,false,true,true,false,true)">@HtmlLang.Write(LangModule.BD, "DocInitBills", "科目单据初始化")</a></p>
            }
        }*@
                                        @if (isCanSettingViewPermission || isCanEditVoucherPermission || isCanEditPayRunPermission)
                                        {
                                            secondCount++;
                                            <p myattr="right"><a href="###" id="aPrintSetting" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.Common, "PrintSetting", "打印模板")', '/PT/PTBase/PTIndex', true)">@HtmlLang.Write(LangModule.Common, "PrintSetting", "套打设置")</a></p>

                                        }

                                        @if (ViewData["PlanCode"].ToString() != "SALES")
                                        {

                                            if (isCanPayRunViewPermission)
                                            {
                                                secondCount++;
                                                <!--工资相关-->
                                                <p myattr="right"><a href="###" id="aCompany" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "CompanyPayroll", "Company Payroll")', '/PA/PayrollBasic/Index',true)">@HtmlLang.Write(LangModule.BD, "CompanyPayroll", "Company Payroll")</a></p>
                                            }

                                            if (false && (isSettingExport
|| isContactExport
|| isInvoiceExport
|| isPurchaseExport
|| isBankAccountExport
|| isGeneralLedgerExport))
                                            {
                                                secondCount++;
                                                <p myattr="right"><a href="###" id="aOneKeyExport" onclick="Index.exportAll();">@HtmlLang.Write(LangModule.BD, "OneKeyExport", "One Key Export")</a></p>
                                            }
                                            if (isExcelDownLoad)
                                            {
                                                secondCount++;
                                                <p myattr="right"><a href="###" onclick="mWindow.open('@ServerHelper.WebApiServiceUrl/api/File/GetExcelPlusApp')" id="aExcelDown">@HtmlLang.Write(LangModule.BD, "ExcelPlusDown", "Excel 工具下载")</a></p>
                                            }
                                            if (isMigrationToolDownLoad)
                                            {
                                                <p myattr="right"><a href="http://api.megi.local/GetMigrationTool" id="aMigrationTool" target="_blank">@HtmlLang.Write(LangModule.BD, "MigrationToolDown", "迁移工具下载")</a></p>
                                            }
                                            <!--固定资产启用 HtmlOrg.RegProgress >= (int)BASOrgScheduleTypeEnum.GLSuccess&& -->
                                            if (HtmlOrg.RegProgress >= (int)BASOrgScheduleTypeEnum.GLSuccess && ctx.MRole.Trim() == "Admin" && isFixAssetsBegin == false)
                                            {
                                                <p myattr="right" style="color: dodgerblue"><a href="###" id="aEnableFixAssets" onclick="Index.open()">@HtmlLang.Write(LangModule.BD, "EnableFixAssets", "启用固定资产")</a></p>
                                            }
                                            else if (HtmlOrg.RegProgress >= (int)BASOrgScheduleTypeEnum.GLSuccess && isFixAssetView && isFixAssetsBegin)
                                            {
                                                <p myattr="right" style="color: dodgerblue"><a href="###" id="aEnableFixAssets" onclick="Index.open(1)">@HtmlLang.Write(LangModule.BD, "FixAssetsInfo", "固定资产启用信息")</a></p>
                                            }
                                        }
                                            @if (isCanSalesFaPiaoApprovePermission || isCanPurchasesFaPiaoApprovePermission)
                                            {
                                                <p myattr="right" style="color: dodgerblue"><a href="###" id="FaPiaoSetting" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "FaPiaoSetting", "发票设置")', '/FP/FPSetting/FPSetting',true)">@HtmlLang.Write(LangModule.BD, "FaPiaoSetting", "发票设置")</a></p>
                                            }

                                            <div class="clear" style="height: 10px;"></div>
                                        </div>
                                    @if (isCanGeneralLedgerViewPermission && HtmlOrg.RegProgress == (int)BASOrgScheduleTypeEnum.GLSuccess)
                                    {
                                <div class="arrow-content-cell third">
                                    <div class="arrow-content-cell-title">@HtmlLang.Write(LangModule.Common, "GeneralLedgerSetting", "总账设置")</div>

                                    @{thirdCount++; }
                                    <p myattr="right"><a href="###" id="aAccountItem" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "AccountItem", "Account")', '/BD/BDAccount/AccountList', true)">@HtmlLang.Write(LangModule.BD, "AccountItem", "Account")</a></p>


                                    @{thirdCount++; }
                                    <p myattr="right"><a href="###" id="aAccountBalances" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "AccountBalancesFinancial", "Account Balances")', '/BD/BDAccountBalance/AccountBalances', true)">@HtmlLang.Write(LangModule.BD, "AccountBalancesFinancial", "Account Balances")</a></p>

                                    @if (ViewData["PlanCode"].ToString() != "SALES")
                                    {
                                        if (!isSmartVersion && ctx.MRegProgress == (int)BASOrgScheduleTypeEnum.GLSuccess)
                                        {
                                            thirdCount++;
                                            <p myattr="right"><a href="###" id="aAccountRelate" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "AccountRelatedBillInit", "科目单据初始化")', '@ServerHelper.GoServer/BD/InitDocument/InitDocumentIndex',true,true,false,true)">@HtmlLang.Write(LangModule.BD, "AccountRelatedBillInit", "业务单据初始化")</a></p>
                                            }
                                        }


                                        @if (ctx.MRegProgress == (int)BASOrgScheduleTypeEnum.GLSuccess && isCanApproveVoucherPermission)
                                        {
                                            <p myattr="right"><a href="###" id="aAccountItem" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.GL, "VoucherSetting", "凭证设置")', '/BD/BDVoucherSetting/VoucherSetting', true)">@HtmlLang.Write(LangModule.GL, "VoucherSetting", "凭证设置")</a></p>
                                            thirdCount++;
                                        }
                                        @if (isCanGeneralLedgerChangePermission && ctx.MRegProgress == (int)BASOrgScheduleTypeEnum.GLSuccess)
                                        {
                                            thirdCount++;
                                            <p myattr="right"><a href="###" id="aRoutineInspect" onclick="$.mTab.addOrUpdate('@HtmlLang.Write(LangModule.BD, "RoutineInspectSetting", "巡检设置")', '@ServerHelper.GoServer/BD/RoutineInspect/RoutineInspectSetting',true,true,false,true)">@HtmlLang.Write(LangModule.GL, "RoutineInspectSetting", "巡检设置")</a></p>
                                        }

                                        @{

                                            var count = firtCount > secondCount ? firtCount : secondCount;

                                            for (var i = 0; i < count - thirdCount; i++)
                                            {

                                                <p myattr="right"><a>&nbsp;</a></p>
                                            }
                                        }
                                    </div>
                                    }
                                    <div class="clear"></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            }
        </div>
        <script>
            window.intercomSettings = {
                app_id: "iagvblg6",
                name: '@ctx.MFirstName',
                email: '@ctx.MEmail',
                user_id: '@ctx.MUserID',
                user_hash: '@sha256(ctx.MUserID)',
                created_at: '@ctx.MRegDate.ToUTCTime().Subtract(new DateTime(1970, 1, 1)).TotalSeconds'
            };
        </script>

        <script>
            // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/iagvblg6'
            (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/iagvblg6'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
        </script>
        <div class="m-main">
            @if (!isSmartVersion)
            {
                <div data-index="0" class="m-tab-content" style="display: block; overflow: hidden;" data-url="/FW/FWHome/FWDashboard?type=0">
                    <iframe id="dashboard"></iframe>
                </div>
            }
            else
            {
                <div data-index="0" class="m-tab-content" style="display: block; overflow: hidden;" data-url="/GL/GLVoucher/GLVoucherHome">
                    <iframe id="dashboard"></iframe>
                </div>
            }
            <div class="clear"></div>
            <div data-index="1" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="2" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="3" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="4" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="5" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="6" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="7" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="8" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="9" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
            <div data-index="10" class="m-tab-content" style="display: none; overflow: hidden;">
                <iframe src=""></iframe>
            </div>
        </div>
    </div>

    <!--这是一个tab页右键刷新/删除等操作的功能-->
    <div class="home-context-menu m-pop-menu">
        <p style="width: 110px;"><a href="###" class="home-refresh">@HtmlLang.Write(LangModule.Common, "refresh", "Refresh")</a></p>
        <p style="width: 110px;"><a href="###" class="home-close">@HtmlLang.Write(LangModule.Common, "close", "Close")</a></p>
        <p style="width: 110px;"><a href="###" class="home-close-all">@HtmlLang.Write(LangModule.Common, "closeall", "Close All")</a></p>
        <p style="width: 110px;"><a href="###" class="home-close-right">@HtmlLang.Write(LangModule.Common, "closeright", "Close Right")</a></p>
        <p style="width: 110px;"><a href="###" class="home-close-others">@HtmlLang.Write(LangModule.Common, "closerothers", "Close Others")</a></p>
    </div>
    <!--顶层的遮盖，透明-->
    <div class="home-top-bg">
    </div>
    <!--顶层的遮盖，透明-->
    <div class="iframe-top-bg">
    </div>
    <!--登陆的box-->
    <div class="m-login-box-home" style="display: none;">
        @Html.Partial("LoginBoxPartial")
    </div>
    <!--搜索嵌入框-->
    <div class="m-search-div" style="display: none;">
        @Html.Partial("FWDashboardPartial/SearchPartial")
    </div>
    <input type="hidden" id="aMySite" value="@ServerHelper.FinalMyServer" />
    <input type="hidden" id="hidDomain" value="@ServerHelper.Domain" />
    <input type="hidden" id="hidCurrentLangID" value="@LangIndentity.CurrentLangID" />
    <input type="hidden" id="hidIsMigrate" value="True" />
    <input type="hidden" id="hideUserCreateDate" value="@ViewData["UserCreateDate"]" />
    <input type="hidden" id="hideLocaleId" value="@ViewData["MLocaleID"]" />

    <input type="hidden" id="hideFinalGoServer" value="@ServerHelper.FinalGoServer" />
    <input type="hidden" id="hideBetaGoServer" value="@ServerHelper.BetaGoServer" />
    <!--组织信息-->
    <input type="hidden" id="hideOrgID" value="@ctx.MOrgID" />
    <input type="hidden" id="hideOrgName" value="@ctx.MOrgName" />
    <input type="hidden" id="hideOrgVersionID" value="@ctx.MOrgVersionID" />
    <input type="hidden" id="hideOrgExpireDate" value="@ctx.MExpireDate" />
    <input type="hidden" id="hideUserName" value="@ctx.MUserName" />
    <input type="hidden" id="hideUserEamil" value="@ctx.MEmail" />

    @*<input type="hidden" id="hidIsMigrate" value="@Html.Raw(ContextHelper.MContext.MIsMigrate)" />*@
    <script src="@ServerHelper.ScriptServer/Scripts/IO/ImportBySolution/Import.interface.js?@ServerHelper.JSVersion"></script>
    @*<script src="/Scripts/FA/FAInit.js"></script>*@

    <input type="hidden" id="hidLoginServer" value="@ServerHelper.FinalLoginServer" />
    <input type="hidden" id="aGoServer" value="@ServerHelper.GoServer" />
    <input type="hidden" id="hideDashboardUrl" value="@dashboardUrl" />
    <script type="text/javascript" src="@ServerHelper.ScriptServer/Scripts/FW/FWHome/Index.js?@ServerHelper.JSVersion"></script>
    <script type="text/javascript" src="@ServerHelper.ScriptServer/scripts/FP/FPHome.js?@ServerHelper.JSVersion"></script>
    @if (!isSmartVersion)
    {
        <script type="text/javascript" src="@ServerHelper.ScriptServer/scripts/FW/FWHome/Search.js?@ServerHelper.JSVersion"></script>
    }

    <script src="@ServerHelper.StaticServer/FW/scripts/signalr/SignalR/jquery.signalR-2.2.0.min.js?@ServerHelper.JSVersion" defer=defer defer=defer defer=defer defer=defer></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/signalr/SignalR/jquery.megi.pushmessage.js?@ServerHelper.JSVersion" defer=defer defer=defer defer=defer defer=defer></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/systemupdate/jquery.megi.systemupdate.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/include/linq/linq.min.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.browser.tabswitch.js?@ServerHelper.JSVersion"></script>
    <script src="@ServerHelper.StaticServer/FW/scripts/jquery.megi.publish.js?@ServerHelper.JSVersion"></script>
    @JieNor.Megi.Identity.HtmlHelper.HtmlLang.WriteEasyuiLocalJs(LangIndentity.CurrentLangID)
</body>
</html>
