@using JieNor.Megi.DataModel.IV;
@using JieNor.Megi.Core.DataModel;
@using JieNor.Megi.Common.Utility;
@{
    Layout = "~/Areas/FW/Views/Shared/_Layout.cshtml";
    IVInvoiceModel model = ViewData["InvoiceModel"] as IVInvoiceModel;
}
@Html.Partial("InvoicePartial/InvoiceEditPartial")
@*底部工具栏*@
<div class="m-toolbar-footer">
    <div class="left">&nbsp;</div>
    <div class="center">
        <div class="m-toolbar-icon" style="width:150px;" >
            @if (Convert.ToString(ViewData["InvoiceID"]).Trim() != "")
            {
                <a href="javascript:void(0)" id="aHistory" class="m-icon-msg" title='@HtmlLang.Write(LangModule.IV, "History", "History")'>&nbsp;</a>
                if (HtmlSECMenu.HavePermission(BizObject.Invoice_Sales, PermissionItem.Change))
                {
                    <a href="javascript:void(0)" id="aEmail" class="m-icon-share" title="@HtmlLang.Write(LangKey.Email)">&nbsp;</a>
                }
                if (HtmlSECMenu.HavePermission(BizObject.Invoice_Sales, PermissionItem.View))
                {
                    <a href="javascript:void(0)" class="m-icon-print" id="aPrint" invoiceid="@ViewData["InvoiceId"]" billtype="@ViewData["BillType"]" title="@HtmlLang.Write(LangKey.PrintPDF)">&nbsp;</a>
                }
            }
            @{ 
                string mid = model == null ? string.Empty : model.MID;
            }
            @HtmlREGRelatedAttach.RelatedAttach(BizObject.Invoice, mid)
        <div class="clear"></div>
        </div>
    </div>
    <div class="right">
        @if (model.MActionPermission.MIsCanApprove)
        {
            <a href="javascript:void(0)" id="aApproveInvoice" class="easyui-splitbutton"
               data-options="menu:'#divApproveInvoice',plain:'true',menuAlign:'left'">@HtmlLang.Write(LangKey.Approve)</a>
            <div id="divApproveInvoice" style="width: 180px;">
                <div><a href="javascript:void(0)" id="aApproveAndAddAnother">@HtmlLang.Write(LangKey.ApproveAddAnother)</a></div>
                @if(!string.IsNullOrEmpty(model.MNextID))
                { 
                <div><a href="javascript:void(0)" id="aApproveAndViewNext" ivId="@Html.Raw(@model.MNextID)" ivType="@Html.Raw(@model.MNextType)">@HtmlLang.Write(LangKey.ApproveViewNext)</a></div>
                }
                <div><a href="javascript:void(0)" id="aApproveAndPrint">@HtmlLang.Write(LangKey.ApprovePrint)</a></div>
            </div>
        }
        @if (model.MActionPermission.MIsCanEdit)
        {
            <a href="javascript:void(0)" id="btnSave" class="easyui-splitbutton easyui-linkbutton-yellow"
               data-options="menu:'#divSaveInvoice',plain:true">@HtmlLang.Write(LangKey.Save)</a>
            <div id="divSaveInvoice" style="width: 180px;">
                @if (@model.MStatus <= Convert.ToInt32(IVInvoiceStatusEnum.Draft))
                {
                    <div id="divSaveAsDraft"><a href="javascript:void(0)" id="btnSaveAsDraft">@HtmlLang.Write(LangKey.SaveAsDraft)</a></div>
                    <div><a href="javascript:void(0)" id="btnSaveAndContinue">@HtmlLang.Write(LangKey.SaveContinueEditing)</a></div>
                    <div id="divSaveAndSubmitForApproval"><a href="javascript:void(0)" id="btnSaveAndSubmitForApproval">@HtmlLang.Write(LangKey.SaveSubmitForApproval)</a></div>
                }
                <div><a href="javascript:void(0)" id="btnSaveAndAddAnother">@HtmlLang.Write(LangKey.SaveAddAnother)</a></div>
            </div>
        }
    </div>
    <div class="clear"></div>
</div>
<input type="hidden" id="hidInvoiceType" value="Invoice_Sale" />
@HtmlLang.WriteScript(LangModule.IV)
<script type="text/javascript" src="@ServerHelper.ScriptServer/Scripts/IV/Invoice/InvoiceEdit.js?@ServerHelper.JSVersion"></script>
