@using JieNor.Megi.Identity.HtmlHelper
@using JieNor.Megi.EntityModel.MultiLanguage
@using JieNor.Megi.Identity.Go.HtmlHelper
@using JieNor.Megi.Core.Const
@using JieNor.Megi.Common.Utility
@using JieNor.Megi.Common.Context
@using JieNor.Megi.EntityModel.Enum

<!--最上头是一些功能操作按钮 vl 表示voucher List-->
<div class="fcv-operate-top">
    <!--左边的操作按钮-->
    <div class="fcv-operate-left m-tab-toolbar left">
        @if (HtmlSECMenu.HavePermission(BizObject.General_Ledger, PermissionItem.Change))
        {
        <!--打新建-->
            <a href="#" id="btnNew" class="easyui-linkbutton  easyui-linkbutton-yellow fcv-new-button">@HtmlLang.Write(LangKey.New)</a>
        }
        @if (HtmlSECMenu.HavePermission(BizObject.General_Ledger, PermissionItem.Change))
        {
        <!--删除-->
            <a href="####" id="btnDelete" class="easyui-linkbutton fcv-delete-button">@HtmlLang.Write(LangModule.Common, "Delete", "Delete")</a>
        }
        <!--展开相同业务单据的内容-->
        <a href="####" class="easyui-linkbutton fcv-collapsedown-button">@HtmlLang.Write(LangModule.Common, "CollapseDown", "Collapse Down")</a>
        <!--隐藏相同业务单据的内容-->
        <a href="####" class="easyui-linkbutton fcv-collapseup-button">@HtmlLang.Write(LangModule.Common, "CollapseUp", "Collapse Up")</a>
    </div>
    <!--右边的过滤查询-->
    <div class="fcv-operate-right m-tab-toolbar right">

        <!--是否多行，单行-->
        <input type="text" id="txtType" class="fcv-type-input easyui-combobox" hint="@HtmlLang.Write(LangModule.Common, "ModuleType", "模板类型")" />
        <!--关键字-->
        <input type="text" id="txtKeyword" class="fcv-keyword-input" hint="@HtmlLang.Write(LangModule.Common, "Keywords", "keywords")" />
        <!--编号-->
        <input type="text" id="txtCode" class="fcv-code-input" hint="@HtmlLang.Write(LangModule.Common, "FastCode", "快速码")" />
        <!--查询按钮-->
        <a id="btnSearch" class="easyui-linkbutton fcv-search-button" style="float:none">@HtmlLang.Write(LangKey.Search)</a>
        <!--查询按钮-->
        <a id="btnClear" class="fcv-clear-button">@HtmlLang.Write(LangModule.GL, "ResetDocVoucher", "重置")</a>
    </div>
</div>



<!--中间是All勾选框，以及所有的凭证 内部的结构是 ul + table ，最外层是ul ul里面的li对应一个一个的table-->
<div class="fcv-voucher-list">
    <!--第二个是一个div，显示表头或者其他的-->
    <div class="fcv-entry-div"  style="overflow-y:auto"> 
        <!--放入一个表格，里面是凭证分录的列头-->
        <table class="fcv-voucher-table">
            <!--只有一行-->
            <thead class="fcv-voucher-table-header">
                <tr>
                    <!--勾选-->
                    <th class="" style="width: 30px;">
                        <!--第一个是一个checkbox-->
                        <input type="checkbox" class="fcv-checkall-input" id="btnCheckall" />
                    </th>
                    <!--快速码-->
                    <th class="fcv-fastcode-header">@HtmlLang.Write(LangModule.GL, "FastCode", "快速码")</th>
                    <!--描述-->
                    <th class="fcv-description-header">@HtmlLang.Write(LangModule.GL, "Description", "描述")</th>
                    <!--摘要-->
                    <th class="fcv-explanation-header">@HtmlLang.Write(LangModule.GL, "Explanation", "摘要")</th>
                    <!--科目-->
                    <th class="fcv-account-header">@HtmlLang.Write(LangModule.Common, "Account", "科目")</th>
                    <!--联系人-->
                    <th class="fcv-currency-header">@HtmlLang.Write(LangModule.GL, "CheckForCurrency", "外币核算")</th>
                    <!--跟踪项-->
                    <th class="vlc-checkgroup-header">@HtmlLang.Write(LangModule.GL, "CheckGroup", "辅助核算")</th>
                    <!--Debit-->
                    <th class="fcv-debit-header">@HtmlLang.Write(LangModule.Common, "Debit", "借方")</th>
                    <!--Credit-->
                    <th class="fcv-credit-header">@HtmlLang.Write(LangModule.Common, "Credit", "贷方")</th>
                    <!--Credit-->
                    <th class="fcv-operation-header" style="max-width: 100px;">@HtmlLang.Write(LangModule.Common, "Operation", "操作")</th>
                </tr>
            </thead>

            <!--一条用来复制的li-->
            <tbody>
                <!--后面的每一列都是凭证的分录-->
                <tr class="fcv-voucher-entry-demo  fcv-hide">
                    <!--勾选-->
                    <td class="fcv-entry-select">
                        <!--第1个是一个checkbox-->
                        <input type="checkbox" class="fcv-check-input fcv-hide" />
                    </td>
                    <!--第1列 快速码-->
                    <td class="fcv-entry-fastcode"></td>
                    <!--第2列 模板描述-->
                    <td class="fcv-entry-description"></td>
                    <!--第3列 分录摘要-->
                    <td class="fcv-entry-explanation"></td>
                    <!--第4列 科目以及编号-->
                    <td class="fcv-entry-account"></td>
                    <!--第5列 联系人-->
                    <td class="fcv-entry-currency"></td>
                    <!--第6列 跟踪项-->
                    <td class="fcv-entry-checkgroup"></td>
                    <!--第7列 debit-->
                    <td class="fcv-entry-debit td-money"></td>
                    <!--第8列 debit-->
                    <td class="fcv-entry-credit td-money"></td>
                    <!--第9列 操作-->
                    <td class="fcv-entry-operation">
                        <div class="fcv-voucher-operation">
                            @if (HtmlSECMenu.HavePermission(BizObject.General_Ledger, PermissionItem.Change))
                            {
                            <!--编辑-->
                                <a class="fcv-voucher-edit list-item-edit" title="@HtmlLang.Write(LangKey.Edit)">&nbsp;</a>
                            <!--编辑-->
                                <a class="fcv-voucher-delete list-item-del" title="@HtmlLang.Write(LangKey.Delete)">&nbsp;</a>
                            }
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--底部是分页的控件-->
<div class="easyui-pagination fcv-pagenation-div">

</div>

<!--底部的中间有导入导出的功能-->
<div class="fcv-function-div">
    <!--打印-->
    @*<a href="#" id="btnPrint" class="fcv-print-button fcv-button-ico">&nbsp;</a>*@

    <!--导入-->
    @if (HtmlSECMenu.HavePermission(BizObject.General_Ledger, PermissionItem.Change))
    {
        @*<a href="#" class="fcv-import-button fcv-button-ico" id="aImport">&nbsp;</a>*@
    }
    <!--导出-->
    @if (HtmlSECMenu.HavePermission(BizObject.General_Ledger, PermissionItem.Export))
    {
        @*<a href="#" class="fcv-export-button fcv-button-ico" id="aExport">&nbsp;</a>*@
    }
</div>
<script type="text/javascript" src="~/Scripts/FC/FCVoucherModuleList.js?@ServerHelper.JSVersion"></script>