@{
    Layout = "~/Areas/FW/Views/Shared/_Layout.cshtml";
}

<div class="m-imain mg-setup">
    <div id="divMessage"></div>
    <div class="m-imain-content">
            @Html.Partial("UCOrganisationEdit")
            <div class="clear"></div>
    </div>
</div>
<div class="m-toolbar-footer">
    <div class="right">
        @if (HtmlSECMenu.HavePermission(BizObject.Setting, PermissionItem.Change))
        {
        <a href="javascript:void(0)" class="easyui-linkbutton easyui-linkbutton-yellow" id="aUpdate">@HtmlLang.Write(LangKey.Save)</a>
        }
    </div>
</div>
<input type="hidden" class="mg-data m-form-key" name="MOrgID" id="hidOrgCode" value="@ViewBag.OrgCode" />
@HtmlLang.WriteScript(LangModule.Org)
@JieNor.Megi.Identity.HtmlHelper.HtmlLang.WriteEasyuiLocalJs(LangIndentity.CurrentLangID)