@using JieNor.Megi.Identity.HtmlHelper
@using JieNor.Megi.EntityModel.MultiLanguage
@using JieNor.Megi.Identity.Go.HtmlHelper
@using JieNor.Megi.Core.Const
@using JieNor.Megi.Common.Context
@using JieNor.Megi.Identity.Go.AutoManager
@using JieNor.Megi.Common.Utility

@{

    Layout = "~/Areas/FW/Views/Shared/_Layout.cshtml";

    var tableID = ViewData["TableID"].ToString();
    var category = ViewData["MFapiaoCategory"].ToString();
}
<link type="text/css" rel="stylesheet" href="~/Scripts/GL/fp.css?@ServerHelper.JSVersion" />
<link type="text/css" rel="stylesheet" href="~/Scripts/GL/css.css?@ServerHelper.JSVersion" />

<script type="text/javascript" src="~/Scripts/FP/FPHome.js?@ServerHelper.JSVersion"></script>
<script type="text/javascript" src="~/Scripts/FP/model/FPEnum.js?@ServerHelper.JSVersion"></script>
<script type="text/javascript" src="~/Scripts/FP/model/FPTableModel.js?@ServerHelper.JSVersion"></script>
<script type="text/javascript" src="~/Scripts/FP/FPReconcileHome.js?@ServerHelper.JSVersion"></script>
<script type="text/javascript" src="~/Scripts/FP/FPEditReconcile.js?@ServerHelper.JSVersion"></script>

<div class="m-imain" style="margin-left:20px;margin-right:20px;overflow:hidden;">
    <!--展示开票单信息-->
    <div class="fp-rc-table-title" style="height:25px;">
        <span style="margin-left:10px;">@HtmlLang.Write(LangModule.FP, "TableInfo", "开票单信息")</span>
    </div>
    <div class="fp-rc-table-detail" style="height:40px">
        <table class="fp-rc-table" style="width:100%;">
            <tr>
                <td style="width:10%;text-align:right;">@HtmlLang.Write(LangModule.FP, "TableNumber", "开票单号"):</td>
                <td style="width:10%;text-align:left;padding-left:5px;"></td>
                <td style="width:10%;text-align:right;">@HtmlLang.Write(LangModule.FP, "TableDate", "开票单日期"):</td>
                <td style="width:10%;text-align:left;padding-left:5px;"></td>
                <td style="width:10%;text-align:right;">@HtmlLang.Write(LangModule.FP, "CompanyNameAndTaxCode", "公司名称(税号）"):</td>
                <td style="width:30%;text-align:left;padding-left:5px;"></td>
                <td style="width:10%;text-align:right;">@HtmlLang.Write(LangModule.FP, "FPTotalAmount", "价税合计"):</td>
                <td style="width:10%;text-align:right;padding-left:5px;padding-right: 15px;"></td>
            </tr>
        </table>
    </div>

    <!--显示表格内容-->
    <div class="fp-rc-info1 m-tab-toolbar" style="height:30px;margin-bottom: 0px;">
        <div style="float:left;" class="fp-rc-title">
            1.@HtmlLang.Write(LangModule.FP, "QueryAndSelectFapiao", "查找和选择匹配的发票")
        </div>
        <input class="fp-rc-showall" type="checkbox" style="float:left;margin-left: 20px;margin-top:5px;margin-right:5px;" />@HtmlLang.Write(LangModule.FP, "ShowAll", "显示全部")


        <a href="###" class="fp-rc-clear" style="float:right;">@HtmlLang.Write(LangModule.Common, "Clear", "清空")</a>

        <a class="easyui-linkbutton easyui-linkbutton-gray  l-btn l-btn-small" id="btnSearch" style="margin-left:10px;float:right">@HtmlLang.Write(LangModule.FP, "Search", "搜索")</a>

        <input class="fp-rc-input fp-rc-amount-filter easyui-numberbox"  data-options="precision:2" type="text" style="text-align:right;float:right;height:18px;width:120px;padding:1px 2px;padding-right:5px;" hint='@HtmlLang.Write(LangModule.FP, "ByAmount", "金额") ' />
        <input class="fp-rc-input fp-rc-company-filter easyui-validatebox" type="text" style="float:right;width:120px;padding-left:5px;" hint='@HtmlLang.Write(LangModule.FP, "ByCompanyFapiaoNumber", "公司名称&发票号")' />

    </div>

    <!--匹配记录表格-->
    <div class="fp-rc-source" style="width:100%;">
        <table class="fp-rc-source-table"></table>
    </div>

    <!--选中的发票-->
    <div class="fp-rc-info2" style="height:30px;">
        <div style="float:left;margin-top: 5px" class="fp-rc-title">
            2.@HtmlLang.Write(LangModule.FP, "ViewSelectedFapiao", "查看选中的发票")
        </div>
    </div>

    <!--选中的记录-->
    <div class="fp-rc-dest" style="width:100%;">
        <table class="fp-rc-dest-table"></table>
    </div>

    <!--选中的发票-->
    <div class="fp-rc-info2" style="width:100%;height:30px;margin-top:10px;border-bottom:1px solid #ccc;">
        <div style="float:left;" class="fp-rc-title">
            3.@HtmlLang.Write(LangModule.FP, "MakeAdjustmentIfNeed", "如有需要，请做调整")
        </div>
        <div style="float:right;margin-right: 10px;">
            <input class="fp-rc-input fp-rc-adjust easyui-numberbox" data-options="precision:2" type="text" style="width:100px;text-align:right;padding-right:10px;margin-top: -5px; border-color: rgb(35, 110, 169);" hint='@HtmlLang.Write(LangModule.FP, "AdjustAmount", "调整金额") ' />
        </div>
    </div>

    <!--显示表格内部合计-->
    <div class="fp-rc-info3" style="height:30px;    margin-top: 5px;">

        <div style="float:right;width:150px;text-align:right;" class="fp-rc-total">

        </div>
        <div style="float:right;">
            @HtmlLang.Write(LangModule.FP, "FPTotalAmount", "合计金额")
        </div>
    </div>

    <!--显示表格内部合计-->
    <div class="fp-rc-info4" style="height:30px;">

        <div class="fp-rc-diff" style="float:right;width:150px;text-align:right;">
        </div>
        <div style="float:right;">
            @HtmlLang.Write(LangModule.FP, "TableDiffAmount", "未开票金额")
        </div>
    </div>
</div>

<div class="m-toolbar-footer">

    <div class="left">
        <a href="javascript:void(0);" class="easyui-linkbutton et-cancel-button" onclick="mDialog.close()">@HtmlLang.Write(LangModule.Common, "Cancel", "取消")</a>
    </div>
    <!--取确认按钮-->
    <div class="right">
        <a href="javascript:void(0);" id="aReconcile" class="easyui-linkbutton et-save-button easyui-linkbutton-yellow">@HtmlLang.Write(LangModule.FP, "Reconcile", "勾兑")</a>
    </div>


</div>
@HtmlLang.WriteScript(LangModule.FP)
<script type="text/javascript">
    $(function () {
        new FPEditReconcile().init('@tableID','@category');
    })
</script>


