<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @using JieNor.Megi.Identity
    @using JieNor.Megi.Common.Utility
    @using JieNor.Megi.EntityModel.Enum
    @{
        var localCss = ServerHelper.StaticServer + "/fw/themes/" + LangIndentity.CurrentLangID + "/css.css?" + ServerHelper.JSVersion;
        var localJs = ServerHelper.StaticServer + "/Lang/JieNor.Megi.Common." + LangIndentity.CurrentLangID + ".js?" + ServerHelper.JSVersion;
    }
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="@ServerHelper.StaticServer/fw/min/jquery.megi.min.css?@ServerHelper.JSVersion" />
    <link type="text/css" rel="stylesheet" href="@localCss" />
<link type="text/css" rel="stylesheet" href="@ServerHelper.StaticServer/fw/themes/fonts/UpgradeNeue/stylesheet.css?@ServerHelper.JSVersion" />
<link type="text/css" rel="stylesheet" href="@ServerHelper.StaticServer/fw/themes/fonts/Heebo/fonts_styles.css?@ServerHelper.JSVersion" />
    <script type="text/javascript" src="@localJs"></script>
    <script type="text/javascript" src="@ServerHelper.StaticServer/fw/min/jquery.megi.min.js?@ServerHelper.JSVersion"></script>
    <script type="text/javascript">
        @Html.Raw(string.Format("document.domain ='{0}';", ServerHelper.Domain))
    </script>
    
    @Html.Raw(HtmlUser.VersionScript())
</head>
<body class="m-reg-bg">
    @RenderBody()
    <div class="m-reg-footer">

        <div class="copy">
	    <a href="https://www.hypercu.cn/terms" class="line">@HtmlLang.Write(LangModule.Login, "termsofuse", "Terms of use")</a>
            <a id="megiFeedback" href="https://www.hypercu.cn/support" class="line">@HtmlLang.Write(LangModule.Login, "contactus", "Contact US")</a>
            <a href="https://www.hypercu.cn/terms#Policy" class="line">@HtmlLang.Write(LangModule.Login, "privacy", "Privacy")</a>
            @HtmlLang.Write(LangModule.Login, "copyright", "Copyright © 2020")
        </div>
    </div>
    <script type="text/javascript" src="@ServerHelper.StaticServer/fw/scripts/jquery.megi.fw.reg.js?@ServerHelper.JSVersion"></script>@*用于自适应的js*@
    <style type="text/css">
        #megiwidget {
            font-size: 80px;
        }
    </style>
</body>
</html>