<!--模板凭证预览-->
<table class="vc-module-preview-table">
    <!--第一行 标题-->
    <tr class="vc-preview-table-th">
        <!--摘要-->
        <th class="vc-preview-explanation no-top" rowwidth="160">@HtmlLang.Write(LangModule.GL, "Explanation", "摘要")</th>
        <!--科目-->
        <th class="vc-preview-account no-top" rowwidth="160">@HtmlLang.Write(LangModule.GL, "Account", "科目")</th>
        <!--外币核算-->
        <th class="vc-preview-currency " rowwidth="160"> @HtmlLang.Write(LangModule.GL, "CheckForCurrency", "外币核算")</th>
        <!--辅助核算-->
        <th class="vc-preview-checkgroup " rowwidth="160"> @HtmlLang.Write(LangModule.GL, "CheckGroup", "核算维度")</th>
        <!--借方金额-->
        <th class="vc-preview-debit no-top" rowwidth="150">@HtmlLang.Write(LangModule.GL, "Debit", "Debit")</th>
        <!--贷方金额-->
        <th class="vc-preview-credit no-top" rowwidth="150">@HtmlLang.Write(LangModule.GL, "Credit", "Credit")</th>
    </tr>
</table>